:root {
    /* VII班 */
    --Character-Rean-Icon: url("data:image/webp;base64,UklGRvABAABXRUJQVlA4WAoAAAAQAAAAEQAADgAAQUxQSBEAAAABUNq2AfP/zemgZaURkb3OAABWUDgguAEAAPAMAJ0BKhIADwAAAAAllAJ0yhHce4DBJckA5272KP1y9DO2AP1m7AbuF6c5IJ5X+Gf616YD+V/jv+EGWifi7qJP5Aa5H+k/kz/VfaA8o/yX/gPyA+gL+Hfxj+t/lh/Y+QR/SU+4GXKVfgcOS9EdaCgA/v//H8abS1sxgjNBebT6WiNztdZERqGx0alykXvZ8UIpdOtUHJ1X9DSo1w8j8SbRl8I+G9oEQ7O6yx51CSKeKghzvRQxf4pQ4404BRJS1QOj+5z/6D3VbGhvTY27XBes/4epeml9qOQaaQCf8we617fmIkYtkopWkB3F0naBfEz2taUj9o/X+BCwO2Rw2zzTfMHq0fhX2EiQBmNqUlIeEGKDZi8DiCEAII/oa/tf+4ZzGOf/5bNlbe3aY3qkCa6c+TmkJrGR7k2Lo0twn6Gh2FRQgmOfAAHtBm0NDoULybN39zdLn+/wbOn9gq2f+oMM+cQ4ZYPRJoN51ga/+mys5lU27IPVONOt/83G8HpjzlP8+p9BzNPISwDmlWNm4BnAdZBA/8qiAE0TlNEd0Glo0Gq4QxI5ZiKsCp/jF9Ci/pL+MX0KLqAA");
    --Character-Alisa-Icon: url("data:image/webp;base64,UklGRggCAABXRUJQVlA4WAoAAAAQAAAAEQAADgAAQUxQSBYAAAABUNq2EbT/umXf3cHCoxExAdfzU+4BVlA4IMwBAADQCwCdASoSAA8AAAAAJQBOmUGMHgBfAPsA3SXbM90r4AD9QPSq/Wb4Iv2G9FK0QOYlx0v4gfsdPO343akBqSf7N9oHTc+QP7J+Uf0AfxP+Of2H8tf7fyCf6UG30KUJ3pTPzmfdqFbAAP7//wTU8o5O/u1XAKtqr71Aj/+UyyNdrclREJCQP2Xf4fb1Fkf7HWoEJcApUo/1zdm+AUH9gF2vW9f19JPjq97xPJRhHvQwt3/+aBtnY71e3USLie/84XPf/lxQGL//LeGbQJfV4rYdZ+s6dGFcJRa0teqVcf/hO/x4YkSrGKl/y7ofGP/V6PgOB9APJUAIHeTq/+9LC30/X+n6xfAEq74dn3kuuf5wIv/8psccLPldKAXNr5xPV9QY1uSWMQX5XuzT3Qhoy4WcHfQL3cMh9/n5txLjPAYwrCDSIyz6Ly4MntfuC/l/thp3Q54NytYBfhys/jC034ZouJt3vpGlbedG1U5V8Z+Afl84g2bV/QefM/DihpRyH90GXLnULRp79P/6a8TGm2OAw3U5/20k4+74KBA53y+fFBbRWegIuk/yhcDJIi5ZJtB1j4FNBypidNLgAoNKEGGATnAL/AS9BgLIAAAA");
    --Character-Elliot-Icon: url("data:image/webp;base64,UklGRvQBAABXRUJQVlA4WAoAAAAQAAAAEQAADgAAQUxQSBQAAAABUNq2EbT/yH0PFh6NiAm4vZ/SDlZQOCC6AQAA8AoAnQEqEgAPAAAAACUAWIXhKgFwAf0neQOAA/QDrDf1u/YD2YKBA/VXLVPRPxG/ICedtFr1Cf+K/FXoxfKX93/ID6Bf4h/JP7F+Wf9z5ED9OTidBFvKvMkt8RYAaQOAAP7//yrobcXGa7vmV4snoIBAqiRVUYO/62/zHv0Je3nKdut0FP/6CRLTW0beP8XTI/pa6c8j//tTrSUivQ+XxX/eWm454cSfZK9v147gCt+4eTZrc5O/aJs2Wu2/9fUYTfc97H+7yorXdqm0SB1w/E0KGA//2QDf4hYzfZefX29sLvz6f/qSFRR/xnnv6d6lqGHispov/hLMlMO3Vw/5aOn19Vw5eIXKaLlDmvDOtNsZ83sYUkATUy7l2dvZORhT9+JWD3j9v1n/e3/uGBZ7jgqFKJC5Ovj/8YvT3xH0w/+uboNXmX/FOp2HsHP+mbhE0BgtnhXuQqKNL6OTc1jfU8dUqG//nMdw/850x//4iikgTYgP/86DeU91XT8jZ5HE95rUKl/4gJ0VQ9N48XK8C8GLVDf2M1E0mVtoagD8W3dZmwjCfNAlHKv7O89dnSM97tt/DiHRWiMAAA==");
    --Character-Laura-Icon: url("data:image/webp;base64,UklGRu4BAABXRUJQVlA4WAoAAAAQAAAAEQAADgAAQUxQSBEAAAABUNq2AfP/zemgZaURkb3OAABWUDggtgEAAFALAJ0BKhIADwAAAAAllAJ0ygxgoyv9QKok/Zn9YPZNpQT0D8Occp+IH7HaJb8dPyAoAD+q/kBrsP7t5QHlH+R/7H+QH0B/xP+Kf2H8uv8ByFf6mmtHoCopkiJVK/5YdHacAAD+//8q5Nsw/mH8VL1KyE37IHfcLinjTH7fAEuuLDQz5O//Go9j5oK4nBXeiP845lhKH/+rhJ97YXxvd7cr//7UQ//nesJ9ookXLQMOujm2cy6n//0LJuvmTGSR7jl7edNJkKOFTyuuW+BQ/9qrFn4ZvWhbVfkyVptPX15NK4W/gvhFzWcOvA/gkIGpawRIEr3e3JH9Xn/DB//smUuKzm6onxf8+0mFg8bguGvfMzJUH4YfScn/pQRDxZt3PWxc+fP7f+hnjYNTgtUO/OP/1asJRH/SfK7l2S5k60a3+MGJmI5tWh/985s/4baHY02ov9pP+DWW2/12s7/8JC2g/hvtV/WTTB3T62iXC6784VB3937bglopl1fCfq54j38/+liVVubbRurQGdzDzOOvKauMpr4G3QDRpj+HTSLeTU2YfkNenlougt/vrqkVM85kzqAAAA==");
    --Character-Machias-Icon: url("data:image/webp;base64,UklGRt4BAABXRUJQVlA4WAoAAAAQAAAAEQAADgAAQUxQSBUAAAABUNq2EbT/yH0PFh6NiAnIjtvzKAMAVlA4IKIBAAAQCgCdASoSAA8AAAAAJZwCxC8FbgZKB+0Hoq0BL+wGWqeRfh3+M2oA/nn4x4qrqNf43a5P+7eiZhAfkB9AH8W/jn9l/Jn+ychX+mZ9wNWLfptcAAG/Q2FUAAD+//8cuj3uhoMjlEqsP+6jqMDKPFla+AXCfw+H86CBsdMsW8moQ2a3/9FBI6GnCZtvCLC+rKSrz1vYFvZxLD5NW0iv9//6GTBnl9iNsxTZf9qmP/B5Cp//5gsDGqbNTuif/2tUalW9/6a02cOTR414Ftj/7I5GNPZW88hiV5HjV6JuOgulm4RFBbDWNrI3n5K8gn3rzOM+kzorRDGT7L0nb/bTW+eKL7mjx7Ip0K7fdiO4+0WaOpz/8zbJ7Ql5Vxf5+O8SFTyNafRAv/k725oM6QdO/8LvDRvcy6Q6WzgsqOswfxl3O/jPCfCye433ndH5m7yfSD8QMEfkDrxFBiSR3qOeDIDbvBS/41W+1E9tAG8Chf+OIBO+5zcxqjq0Dw1KqKIM8YaqTMyP9u4b//5EZI0SU9EGlrCz8PFtw/q+3XutcXVwAAAA");
    --Character-Emma-Icon: url("data:image/webp;base64,UklGRvYBAABXRUJQVlA4WAoAAAAQAAAAEQAADgAAQUxQSBYAAAABUNq2EbT/xv3uDhYejYgJmOv3UXAPVlA4ILoBAAAwDACdASoSAA8AAAAAJQBOmUI4ECgV3/pgG8UfsN6N1HA/FX9gMlL+IGiA+1X9gMsn/Y/yA1QD+ufirrov7t+N3vI/yvll+R/877gv8Y/kf9u/Kr+wchf+nJxOiD9uaBP1ed8Z2mAO+OfgAP7//yun1aqDSax/NK9Hlw8nz+q4Mf1kf/9g0j5ThfXSa2f/9IMpu2Qv7FjfC5sf6mfTzdNgfVDI+MFz/U5Rfhm+iViAG8wlmi+5HfOv37BQ37dzZ/IJDOfHorkbWuVjV0UiH/7folRIosZv7avpE6n0ttV0iZe/IggeIaUBdee5O7Xg2+SdeiotRqfD+Ufn3KMF98y5WX1s1E8vnIYeYTXFQ+87C2X/mXWq+BMwbnt9a0PFoVpFlAYrMCqyBXxwj6+HQRJftOkHufimlPx7/wvKCcw8XJYejdf/cb6yaDMMBjVld89bxjhu1T95NSuo/3qxP/pfjijtKd9ceo/zbb2tqGPdnZulBHO/3//zFMk3H+ifQn/DLHg19o/6ZgX+Y++/Z/EPZoPAPBhduGMHGj0TzHr3WZ2ES3GO/rXJtkr+GW0hfEKz4BNAcIfKRgAA");
    --Character-Jusis-Icon: url("data:image/webp;base64,UklGRvQBAABXRUJQVlA4WAoAAAAQAAAAEQAADgAAQUxQSBEAAAABUNq2AfP/y52wsDQiste5AQBWUDggvAEAABAMAJ0BKhIADwAAAAAljAJ0ygqAC5Td1A4ADydPY+/Vz9bvZ4oADJBPIvxP/XLRJ/h3+TOWx/kBqiH931JP9N9FL+O8rnzB/Vfxm+gP+J/xz+7flf/TP//ymf6QH3Hj78YnD0O6i4bssAD+//8oEudNhU5egW3379Lvfjf8wOpxKLccjfn8NPZdTYZRmZ0AJ+3v/8BN0XW4H72v7MKDYIjuAJOAo2QTDPzbSH//5zj5gNUya7XP1mnW+3XS0leYa92OhmLcZpHkk9iw3l5bb/4H3KAIXz+tMsdyZM4Y/XuIj4winwQ20ipKWoJs/65bIMqaSaBXMmmf45GliWdB8dT/rCl/fOZ3v+c25cZvIL+qyse+2nj3+dVRh+h5VNrjN2MzfHpRQgR3KDZXYSU3gW0s4nAoMv0//+/v6+Xf8fevwdzTP/pZLo2vMic7IqDdgfDPP1Jn/zjzW1HfkzcYvdBJhLdRetZ7dl74QW24mesvqAW4U4pn2LZX+PEkm6tVzORivy4G9tLMdO7jwb2hE09fIV4ocuPl4P2/Jm5BrFwPwbBayHhNYTa5SVfBCik6B/06eleXH9Onn4AAAA==");
    --Character-Fie-Icon: url("data:image/webp;base64,UklGRrYBAABXRUJQVlA4WAoAAAAQAAAAEQAADgAAQUxQSBQAAAABUNq2EbT/yH0PFh6NiAm4vZ/SDlZQOCB8AQAA8AkAnQEqEgAPAAAAACWcASLOTQNN39k38AK8B+AHPN+oH7AZaz65nAP61+I35AT7XqO/8B+GfSG+ZP9J7gf8Z/j39l/Kr+48hf+nJ3TcREyLQKofsTZIUAD+//8f8MhGh+0NRxsnhAddNuX1t1Tj49X9jL9v2Lx/8c+J0/OITuE/e6tRovO5I+fkf952J1H6Tofy/+/SGe5ngr46cmk3l6r9OEGeJTemIAJltCvf/+1tqkww6Th6x79v3APp2O7enxwO+TOYuRUwD9//wQP/0t508DHRApFQar7Fv9fKSEGoqCs0C4gAFn49tzJEoSG0r4fmkR/hEjRr/PwL4vGBOelDXCBz7/sOf68lfOr1pp6Kbdekc8Gf/6gjBN9TKx98MegP6uf0/d9Pb/zPlJ43ue+tJpMiS3h7uXN0vbmUP7oyKbEofXEPkbsRUqP5wPH+kuRm6gifJ/8TtOpz6KKFbGbe2idR4xJYT0rwcICMq20BhUuXuc0GUw4AAAA=");
    --Character-Gaius-Icon: url("data:image/webp;base64,UklGRgICAABXRUJQVlA4WAoAAAAQAAAAEQAADgAAQUxQSBEAAAABINK28S92szB4eBoR2XWcAABWUDggygEAAHALAJ0BKhIADwAAAAAlAE6ZQjgQqX7M3qAdZb5NNsAciB+quWCeH/jh+x2jL/GvJH/1DRKPx011v9c+0n4Gc3fyr/QPcE/iX8j/r/5Jf3b/28ox+jR7m733Qx7WpwzUbvA3qAAA/v//HK/ichQev/EQdjnnH1RgXVQSF6AUJBvRfmT5bwBR+XjhJ9v4ORvKc9iUXw11M2f/I58GaObT//r7+n/3e+/0MaW3MaBGx//p5f/9vf66cuYRUrK9HbXFP2bve1P3F0AaGQ1Hu99CyZCEXSloLX/8Tv90NXRQd5bILqvhMx7sODoFFoIf1sseJrcjLUe7jVVt//8mhGXbgcRF4izTFvB7iX6YCT7skT1c2ui/dJbNCttn4Y3BRiZbEpxYxU23mUQzPe5oPf3/9c8Dz6y10PHOfFa8jr5r9T0qeOP1Xn49qPvX2//fEdOPzKP/l8saNMFCt3O3vs20f85jd/ptnKnbcEXr+Tt/flRiD8z+Gtv+J8/+IziT4Lho3MRGxFempQZv//FpWhaLvFz0P07P5//67qnH04dZfJjKovZOqJSTjeN2VAvWckpj79B/ZThSCe5n62IN2cHr09Pz0bKxkPGESQAA");
    --Character-Millium-Icon: url("data:image/webp;base64,UklGRgwCAABXRUJQVlA4WAoAAAAQAAAAEQAADgAAQUxQSA4AAAABEBIQ/w+rqqZGRLpOAFZQOCDYAQAAcA0AnQEqEgAPAAAAACUATplCO49wH8Awiv9AN9m4AD9M+sn/Tz/O+pncpeTC9Vf1Vy0rzn8gPxJ1AH85/En8gMs7/GbVAP8B+JOuP/qH46dGL5J/s3uBfxD+P/1L8ov7B/9uUA/UY6c6mbGJ3rJf9Q7V6AAA/v//Ir34g4xVP4V/J69/WffdYgEKPwx1InUUz6gbBep4TSpxJSPT/C/1nwvzM21rrp5LsaKBluHmNQqR8PEnSlCZ5bz1WiGz6lRjuEHBvmqXedFIiv2ZLKhEGQAVmvNLS3v31B/Ex93t+r///4uGqTV//dDcxjOHhKNtxiLM8wyEc6LRi4rXOJeLgfLnh55/8lIc2qH2a7FMNF/rlV6vrI2HA/7uK7MOOqO29nMVUZCImnlvJ/9oCP+jGTj8gOELdWYCIuTrN1LuSJ45+5Pwmj9emeq1dq97otE/v8GczD3Un+L8X/ocg4TL5BlLY3D4v3hlnqqm/V3jkGy9/nQz/aNu+MsmXFs1O/3o/L+9u93E3Xr/+LBL/n8P/f68Q42l29vbmXk56f6lhzqlNamLHkX/4rjXSHABN8V7G8fMPo1mA6mhTHWDfipZhkk+pxn7YMTRguSCazTA8On2B1kTA6pAAA==");
    --Character-Crow-Icon: url("data:image/webp;base64,UklGRuYBAABXRUJQVlA4WAoAAAAQAAAAEQAADgAAQUxQSBgAAAABUNo2ErP/to96g4FPI2ICPLAcz7/0YAVWUDggqAEAANAKAJ0BKhIADwAAAAAllALELwYn/0VWScftv+s1WAdMf6c5Kp7NnAP5B+QE6Af0T8dNkA/h/94+4D4EM5rxn/YPcD/jv8j/sn5Yf3rkAP1cNvrrCNe/Ew3TNm/VXnYAAP7//wUV8Jnd3ETElMnYq+eKd4eWnaFioBRPFIf1lpNbRy4sgr/w1Pwq139dgRna/3OkDGs98aOoMGjsYj1oTpTg86bIx4P16sX027cJAL5S0abCt3B1IP/9Jxs7KV64X4zHgbGplHfvezDNBHzaEPtP3658yhZ+Pi2Tra3vP+Rww5/8zzt28ukcZfLYb2Q+CjvSktek9232w12Hj/9TPc2AWd+RETqyP2v/zy8RmFkTxx0pvLyTLrOg9mc5D9mKSHx0Nf4J3hfJ8Vqn4L71GPl/fxTHES8GIFOK/HkLzr2UosLom9ZbH+0vyjFeI/dayinfWBg1dXO+a49kxxiPzd5g/prfb39awD/BtQ/d97u9bkxIe7r/6/9MCVrN4dK02twJu7i8SYGGNEvpp1TupAEY5pNWacy16ggtxb/o9DV2nunBDkrAAAA=");
    /* 1年I II班 */
    --Character-Patrick-Icon: url("data:image/webp;base64,UklGRvQBAABXRUJQVlA4WAoAAAAQAAAAEQAADgAAQUxQSBEAAAABINK28S96Oxw8jYgJsLPuUwBWUDggvAEAAFAKAJ0BKhIADwAAAAAlAE6ZQjgQqX8VfYBgkH9u3kDgAP1A9Iz0K/YA/Tr/wvKL9a/EbPl/LNlrmizfire4VQD+GfyP+2flH+//KAfqacX6g0rO0YLhWjAceoAA/v//JcPoX3Hydef//jK3YWCpOXDL0GuOVRaO8fZFN8tJ79fW3Ok+dZzLrzFGOv+HXZnLC/0u94cL8/l9yTZ0H8cxguQDx59mBtW/8xLqgZftf/mWGhvD4ACnHlKUMl/db2VQfP/934/g1HeKl89vHIdcNj/+8EnCCL20p//PQcFUeXugkSEaopj/PA0UMk0ulpIQskt/9uC7D29lMbH17f/JLZLWfvV9MH/l5Yi4gIMf3LT/2yk/1IIgGF9WNkS9JdIzhBT72MNiu/iKPav/lW2XJNf66hKU1ks/+kDhHGwD8OswMT+a3iOKJu9OTGz69Wn9ZiEmfWLVl93QZJ2f7cJAISxf78KzzplP9T/fCc5GaTQh//G0+sVkgJUDnlEnewvM/44rUZcOBiZI9M6v4F7ndgZ/Juby5EZdzbXX92/pTB//qyLbAJqlYTh5fgI/NgL0qykkd4HMCH4NqIsgAA==");
    --Character-Ferris-Icon: url("data:image/webp;base64,UklGRtoBAABXRUJQVlA4WAoAAAAQAAAAEQAADgAAQUxQSBAAAAABINK28S94o4OHpxGRXXcDVlA4IKQBAABwCgCdASoSAA8AAAAAJZQCdMoRwEGAbw99gHs5XIDhAMlP8Q/FX9mdMB/K/x3yT32q6jv+MGul/oH4q8yB/ZvcA/g38b/rn5M/vdyif6dm168lssS/IY+EAwO3AAD+//8rJBmR4ddxQHdaPBFKa5ue53/Z6iToLi18ww22/BI/+O/5Jv4AL/kNH6RgCPnlH/Xjs1Ocp5+xWRgUmm7lR3WBEJr4T+Y2RpW/PiuPBvi/TAPhxV3nGTf31uDYp8/4+hO3yy3ZLFccz21oUSrNNb+7YiEl9kFAPZFQixxlS+9pX/p0+CoyxUVp/HySfv8sK/0pl8arpjspi/I4pz0+bJrUYHyISoh/4zi+fM//+4K7HpK5C1c1536AEnp12W5Ur6k/x0ovEtePXDsjITL+TNjcCPK9zxSiYMvbcyZHnRzuSjtUpr/q5GP+Ljfixf/TtL4u8ktT/+enj+35v7CLvqX/A9+frotzqGz22LiKWbYJG+JZ8b4VuflnYM6kS41NTO4ySmpNbsRg9XUV6PxE+Js0Opt119xzhsnQD3GJdWo58JIAAAA=");
    --Character-Kenneth-Icon: url("data:image/webp;base64,UklGRhACAABXRUJQVlA4WAoAAAAQAAAAEQAADgAAQUxQSBkAAAABUNo2ErP/sveNdXjwaURMgAeN4+cvs3QCAFZQOCDQAQAA0AwAnQEqEgAPAAAAACWUAnTKEcDegUwHkge4D+O4gD9Y/1g30DgAP0z9JD2MPKApQTyv8AP1my0/2DOAfzD8T/xyzB+gufirrt/7p+QHq3eUT5l/w/uAfxz+Nf3D8nuMW/UY+quTXtuLnl2UOLkUAP7//yrlE5+hKDb+3/O60/+pTOzs4xwc+7lWfE35sq3FqJNeT3/4hLXkl8ZD37s9e2SboSxMJLCmqoexeab//bXH54gDrQiVJIn77wo1Rf/3DvBGMvpn4srBWTe//wOWLGdrKf1kMjOMgGe5PPSFAIr21Qqb79T3NnNi+eT/m/H/6vAD/hkcCmCr7Smo/32xqOJoR1SMUSMG+vVPWCJrk01iq4FlavA7g4S2EmkFAEFn0wv/X37CX6sbLdBHMOGRrCF/0cAo/YaTfyKESUteYc26t8wLqP0eQ6+jf6SDh5H/U8Nnr46yMbv9kbnMD/kUhHxPaOHY534izbMT9DQ4wla9TmKb5LqQzIJDxQX8X0+vzvt4f//ND0OtP/8SaF/FZT6Ix3oYjROUkxrYZ0HcdMW0J/aw7if4wwrZcLEZH1wWQMR7QHoooMUW81DEFBbn2JGEQUrEYRBSeFidrPsAAAA=");
    --Character-Bridget-Icon: url("data:image/webp;base64,UklGRtQBAABXRUJQVlA4WAoAAAAQAAAAEQAADgAAQUxQSA8AAAABINK28S96Gzw8jYjsOm4AVlA4IJ4BAACwCwCdASoSAA8AAAAAJQBOmUI4EKl+wC5K90r4AD9AOsN/Yf9YPZc//90A5I/0dx1H46Z7f8dMhr/G7VANNv/XeWb8if5L8gPoD/if8g/tH5c/3HkTf1uOvdUG/8DBDysJuUTzpgAA/v//KuVU5anYwY8azmds7KN3dXy8EUDiuzqBhAEVmd/aq8SrTHphdV58Dgt4T5fiJz4VL7o6R2Y7nobzp+nTusXDvEmvSoWGfQWeMs38okCrbtDIOr0ioTNgPoNZm/9qv5ctpekou+7wg4KPam3yFDzN/MAK4c2nHbEX/48fuT/tNUA7Opdaf/P+da8MaH/8ivV8AqxeF8H/S7eJ91/9lQ7Ok/DY+1gx0fSjrm8ZcSIdgP4/D9Rj//7xue3/9gLoE0f/9CS/3yd/z580cc9//rqaPuXvtj77c63p/TqxuX+VrV58HXiaZ7bHv39r+Rqap8hI8mN0lF3j0/+khRF0gTnjQvJN7JWME1T1L+Rx1kNWIvJBWGKYnxeMId9W3tRlNAIOQVrTgSAQGIkgG0ONDqo5qvHyAAA=");
    --Character-Margarita-Icon: url("data:image/webp;base64,UklGRhYCAABXRUJQVlA4WAoAAAAQAAAAEQAADgAAQUxQSBUAAAABUNq2EbT/yH0PFh6NiAnIjtvzKAMAVlA4INoBAADwDQCdASoSAA8AAAAAJZACdMoO4C7AZIHkAewBhHP6Z+//zmfAAfsB6Wnsd/sl+wHsx2iBzEGSn+YfjHn0PxGySH9m0gD+QfklrkP6r+M3tN/wH2gegB/kvcC/hv8g/wP5U/0j//8oB+qp5t8D2/8jVnA7uUp/nAAA/v//ATuf3qwzyWRVj2Zr2eXlZ8c72TR9bCNUNF29/RWoQJ7haH1jk9NHIHgatJRsiNPpe+TvnyiU9yv9DP9U58rUfanYKyKjqZO5//7dVqq/g2f1X7gfnNdBIPp4HkhfPY81gFsSuRgJG6xr5v5sj3lAd2gEil6G+6U9U2uu/8y96v0mIVcxzwV+K//j7A+ErhSnrNyqVPey3p/m3+LRr/zw8jjQYCn9F7i/S5/LCn/kJZ+f2HzzDKEAMmEX9ebMh3S8ksmPcvs/+LHM25LiZ38mN1ICjav/6PPN/xacyX0kRf/3Rv2pT/mVuOBcgl5gmDACmBT9hQwT85YH46n/5NuEBX9+N/RId//oc7VuB0fzAf+AB7ssfI6AWHzY55tvr9WgBwmoq4G8L/nL94WfBbh0X3Q2xhHqJiaNDbVdLoZo5NU4kcuTkEqfGWJ9UJj7f7gp730V74KdlkgIwxkigAA=");
    /* 1年III IV V 班 */
    --Character-Hugo-Icon: url("data:image/webp;base64,UklGRvABAABXRUJQVlA4WAoAAAAQAAAAEQAADgAAQUxQSBEAAAABUNq2AfP/y52wsDQistfBDQBWUDgguAEAAHALAJ0BKhIADwAAAAAllALEIwF8gtQD9M8sA56D2IvJA//90A4UD9Vcua9E/Eb9YNFX8s2Wx/jBqDH4za6L+x/jBzAH+g9wP+Kfyn+1/k1xqv6QG1NSorScHDv+IhNmrSOzPAAA/v//KuWNSfZqpGm5/eOWIpM7lL1ZUj5X74qxSb+T7F/frkrM9NZlU+EZ8E9P4hd8FrG6J8qw/3/9+yKi41J2/rjUr+j1HKIf/3Le//Nt2wz6PWxauVJ7/0uKjH/HpZmZ0O0VCAo3YzfXzS1V6Qwh/KkefI3r+KKWD4h/11f22s08oLgwDlcuzH50OJawpLpTHEbscxh4VeRXcSHTail76sL2SaCT1RA0fnpie8/U18QrXzQbZ3gue/x4hTY6p8WHvOwHZPTA4OFXwJDcaKm4W0hga+Huhv/3+JR6f1zcUTW2X/xPxgvzUH6chUi777HN/SCfzCpydXh8/yWXmaw/Jm/yF3/2tL3mLcP9MeDO3r+36+HltactwmVyz2ZzUXX/Hslz0B5TNl/sZC8fNxJVbBWxNH5AP/KAQb/+3oJEwcbbGqngAa7gAkj7792qleQOGAAA");
    --Character-Monica-Icon: url("data:image/webp;base64,UklGRtIBAABXRUJQVlA4WAoAAAAQAAAAEQAADgAAQUxQSA8AAAABINK28S96Gzw8jYjsOm4AVlA4IJwBAACwCgCdASoSAA8AAAAAJQBOmUI4EOA/kH2AXIB+gG+AcAB+mfWG/sR+lfsx0BB+t2Ws6Sc+TjNf4k6iB+Kuur/s34q7oH/G/4f/dPyl/qHIq/sAd1+mmE2wnpz0FGYAAP7//yrl4aK+M7DY/iTRG5//OXsAou+X7Xt8wEv4DA5cNrE4MwPD+M9g8oV35q1/1vZS+KGH+el2XfuoqH5/3I/+oLJaZbPXumzfx9thw3pE62TwvTLqiIhy33qY+I//Smu29KzkCQL2c7/Gm1yNHUK8mFrhp38dpGRwaqYTG0LB3TzS8iHjUz2C9m13WQe3wcs/2a1KDO4IbJutPf/rcD6fTWLv72Jf/3VvJ1//0rTunSxzASzbB1/mI0saZhWRh/1ai9/P/yx4cnU7Aff64ld8OJqPLpKH+2x+sjXWKG4ng/65h2jShr/8uTzv/P5JO4wB6P9eHWf/2Y3OY+1+ot/U7/Yz0Dy67ke//bYB0ZzBREcmqOYrAOnRqKKZQhMun09frlqQIMpPoXhlS/Iou2CGanP0NrjqOarx8gAA");
    --Character-Mint-Icon: url("data:image/webp;base64,UklGRqoBAABXRUJQVlA4WAoAAAAQAAAAEQAADgAAQUxQSA4AAAABEBIQ/w+rqqZGRLpOAFZQOCB2AQAAsAgAnQEqEgAPAAAAACWcAnTKEdxcme6AcAB0nEsY/DP9YMsE87/E39SZtm0TPWYOKM9wP+K/xf+t/lTxgH6NHXuCQ5r3vynbT9CzIWugAP7//yskZj0cILOWR/y8Bo/sH+Iy5iPDq+zv2ZTP/alqRIYBOVhyfxPMefzfbkFv/Q8qFw/3mvwox4CT2281SRT/jTXHX3QN8+ey/+FHSY+c1J6mHOrfcb5X5jUGH33D/SEgp+mdUBwfKc/LEd97e9Y//uoJ3IWryHp08l//vLgilIvGQn//sR23baRmViNIbfYnxs5FXZV/Qvms2Bkm7GpHo3/O/wO7NqV5/0SGFfbs7v8AjbzaRAOY4HmH+YDPKl4bN8Se9tcef7f5CDPk//zZw4nAtboXeJcx//kHtyZaCn88O8gaVUZXP+LxKN/+eK62J/r+D/TAfRdkrB/httLZlWTUmsOQF0Ga1+gRc/c1MV+tctlNKBVMw+ovPYYzg85EFYboAAA=");
    --Character-Beryl-Icon: url("data:image/webp;base64,UklGRr4BAABXRUJQVlA4WAoAAAAQAAAAEQAADgAAQUxQSBYAAAABUNq2EbT/yn1hjx2NiAnorgP/JTsAVlA4IIIBAADwCQCdASoSAA8AAAAAJZwCdMoRwIcB/YH8A3if7ZpcryU/0D8K/2A/zOk3+mbHZtRA/HLWM/xg5W73AP4r/F/6f+Pn9S/93KAfpAh1HOP6IYWWjbmnwCUoAP7//ys8mIhLN/TOdQf9DEeD//v+KCsVctVv75t8TZm68KB+a9SfUGLRDv/8IFn4N2POhIKclP3pRUQtlOj6e+pZO7GRmfH9KkM+VYGZo03/+6OEzLu+MeX+vHu//t5JC//4/jn+L8Z/F8fd4TIKi+m050oT7YvtuvXTMSQcRb/2UBURPvz3xqSrC+K8NOoLIxbZlGFDI7HhuV9qXtyauUU5OH/0IWmWYbWs8hnyKr9w3YSXvzMLxqxeP/r61Lry11J7gdz/f55ajDh2rY4/aFyeiZPsAS5RPVYTb6HxuoYq/Ha1Uvlpnufe44zjAn+4+RaOwzxZH5dChOG/lrAbePvkSq90L9wMtl6zJu6NmzpUkSpC8Ze5IE4pZEVTWp/Rqg7gjY59ciAAAA==");
    --Character-Casper-Icon: url("data:image/webp;base64,UklGRuIBAABXRUJQVlA4WAoAAAAQAAAAEQAADgAAQUxQSBAAAAABINK28S96Gzw8jYjsOk4AVlA4IKwBAACQCwCdASoSAA8AAAAAJZQCdMoRwIcB/IPtV9wGCwbqBwAH6Aek77If7EekdRr/w5yQTyX8QJxN0U38JdYz/GDolfFf93/GD6A/4Z/Iv6L+Rf9M/8/KAfoweOU2PGzW/erZibvB0AD+//8q5SabOuNcOkiVZ/MHkzg865Y7fO1Fbry/giHy+9Z//q6mE1OwRhqyziYaweZFnSix/3+yv/0l4TUZi8G6T7idj/r3/+Yxpvt+L5trp2Frqtn/huC6D+CrbW14xPpxBcGa9kEz/HbnjlMgeSxmPJRwPFT+3SQnIavr4kpd/HM5xz/wIojfXjRKSIWAp4gPt9b+7Hgy5Jj5o8i5Qzj/8Q5yTa2LvrpUG/uP6lfPYqbKQ6H5Bv2IIF5Xm00f/LY378yrawXrLwLlrtCla+f/9UUb1jv3ojOaf6P1X4ZseGT3x4CT2zr5hNn94x1hrVlWjwVwHpiP+gbOjOdG+I6bDPiCxXjqbK/nQllH5ekWKm/JhwihL8HqSTttNaZQW6N0g6+kNzT+GQv/530fhTZ7lU33JSAfktgL52wFr9BhPwLlr2eAAA==");
    --Character-Alan-Icon: url("data:image/webp;base64,UklGRgACAABXRUJQVlA4WAoAAAAQAAAAEQAADgAAQUxQSBYAAAABUNq2EbT/yn1hjx2NiAnorgP/JTsAVlA4IMQBAACwDACdASoSAA8AAAAAJZQCdMoRwIcB/IPtmgwDeLv2d9Fq5S/QBzAH6wZYJ5z+G/66f4zSofiNkkf6T+GeqAfyX8gNdb/bvJA8o/zZ/d/cA/h/8d/pv5L/2X/78qJ+l59V7l+9b6+Fvy/b4Xbp0AD+//8ctm3om+pXBKc8PjstA+ykZj89q+W6VFp4cBQITZd4ljosx83wP+gqhaJSNNTnACOMfsPI7pOp3ueVAMB+us7QD1BppOj3n/rpCUsgydtDMJsHyUoMw3SenyNjFzz//w19hP85WMx5805CU5dam78zXO0Ck2tZRu/FJWvijvgvDJnBW+sc8BvpoGnZl/y2SB6NKLOkQo2QLUnr2/ulcT89YCApEuCt/+/CvHDdtkWTj+/BdNJti6qsb/JINLejQaCprpbXGCnq9EEn98x/4M4g2Hgmu/UIE/ufEGKKEo/489Sewke+3XMiQpGovftwqzAU+/7Tylz/31p0/S1f67a9UeNX/72+u+MQuE+Z3jnUTT/8vtPe48hB/C44IcS0Fp56QK673u5onkYpPJDpA/+xgR5iKyb8UN7Zov6bNBbKgQuI+pgPB+A55WFqaQJf3AAAAA==");
    --Character-Linde-Icon: url("data:image/webp;base64,UklGRtIBAABXRUJQVlA4WAoAAAAQAAAAEQAADgAAQUxQSBUAAAABUNq2EbT/yH0PFh6NiAnIjtvzKAMAVlA4IJYBAABQCgCdASoSAA8AAAAAJZQCdMoRwIcB/YPwzewB+gHWT+SfQFeSx+x/jB+M087aJX+M2vJ/pv2geyB5Tfln/ae4B/Df5X/b/yW/f/lM/0gNYVxqWoaVvAKsr2dAAP7//yhlIT/EHYf6szc8a3nD3DO7P4hJf8lxpUAX6xdP+cNbPiOpP4B3/tI24tYmoKgDycq7y2fzTY6pDGblvnxoaPfwHLUIbKcmSL648XeXJtQeh+Kax58E7/7aJ5iQwhNUkwNX/IY1u43oX9mQ9hwzi3GmrV/vX/fV5QiRc1i7v9qZzgdy+0oDj5QKf+i2Kp+JHP73Sf3N+KOnBvnlFxwDMPY1qL/+vij1ahNgNH8w+1+0w+GE9qoM8P6Lz39maJD5O/IPrcW9V8XUPkZCYHoy34kP/a1suWn4x/xKORADC+PWaLewAK5/f76V17/w538Z/vrlf+HfS930JvdJDdP++S+cn3pX/SGkxJcPX2S+wn3sE5Az+SUSZb/EbHbXXyMEnwYZ/Wasf6Vb+8PY2XNPLrW/F8rXuGAA");
    --Character-Vivi-Icon: url("data:image/webp;base64,UklGRtQBAABXRUJQVlA4WAoAAAAQAAAAEQAADgAAQUxQSBEAAAABUNq2AfP/y52wsDQiste5AQBWUDggnAEAAPAJAJ0BKhIADwAAAAAllAJ0yhHAhwH9g+wB1RXseeSfRr/w5yVn0n8TdEB/VZsA/lf5Aa7f+u/iT0WflL/M+4H/Ff5r/WvyA/fXjADi/RzgVLUTGFlnAMAA/v//KyP3xg9/4us88H0Cd5//49OE/0uUY/TKt8TRz6kEtf/sjt6zja8cBX5LN1UWNZVrbEMLP5SxGnHAFUM1if9nN1I5f4HN2IFPZ8DXgfECK0cVvzVtU89jDTL5a7Uc9eL99jqUjPWf/3vkSGhgNWlgi5/dUqdvKV5//sxpl1ZtfmyhMboYydYx/9U4//1XcmW9r8sKrYae37IHS2cefKECgTiDu7917i2GWALvr7M61jMb9lQy8gtppSMgHNIADz3/xMfZF++LC///uGn6vePOa54LnQqBizrzwo5XbwvbXwSnra8vPJ7n0ciF//Ex8xnu/71yv/Dv7GbT+sPLkvv+QV/f//kieseGWcUNNKf0x5u+po33vkLfpKOHH7Pt+YotckrmF/RPTNUJqJ9JqwjoPNITk78UzQBfYbJznctAAAA=");
    --Character-Colette-Icon: url("data:image/webp;base64,UklGRtABAABXRUJQVlA4WAoAAAAQAAAAEQAADgAAQUxQSA8AAAABINK28S96Gzw8jYjsuhsAVlA4IJoBAABQCgCdASoSAA8AAAAAJZQCdMoRwIcB/QPsAuTP9AMsA9AD9QOst/ZL9gPZzoCD9bsua0gTIBowGvE/rv43dFn5V9gP+Jfx3+v/lNxjX6AHXtVtJ6SyTaXUJ/lAAP7//yskT/MJneLKcwtKL275sWScLyf7AbTwP7c9FWL/3RoXVGXhJMBEwY0DSqtaQg8v/qh4ZLBtatzr6JxDbKn/71fqi6/QOQEB2JUYzU3DOlxvf9lZ5KVxHbdgipRIwtgiH/icP0NiXkngZHVaUGIraNHrIS+f/7P+YtLPWB85X6cp6w/sm+1zInzq8+QGxfs3Li9wklLmj+kNLvDXLfyvzJnkwPX+O/5nQurUf/72ff/Cb04Vn02dyUZoScjFvfuqc7/GLu0I6dIxmcR2/0//gfg104l91t3A6db13Tceb/QGVlr+xkNclZPq0SevRb/2nhruw5Ppgpn996vMQFsyfWzslYgmdzpsDBGmjbmt0yJvNW4rUJXiQdLX2aMVaPCl5DYC4Y9+h1zpZbhNB61BNQHmfwECfBNIN5kAAA==");
    --Character-Rex-Icon: url("data:image/webp;base64,UklGRtYBAABXRUJQVlA4WAoAAAAQAAAAEQAADgAAQUxQSBEAAAABUNq2AfP/zemgZaURkb3OAABWUDggngEAALAJAJ0BKhIADwAAAAAlnAJ0yhHAhwH9gfwD0APBA+DL9lvQld7P8YP1m0Vf0zTy5+Kuuz/yvMA+YvYD/hn8d/tv5J8ab+pJ6ORTof/e/UGZBB2JutYgAP7//yrlvFr//2Y1ctyVHM18uYNn9WVhE8PrnsnGp3rb/8u6Q7xh1fdWC+icTny+rR4V4plMZVu0+PM2syuJ5esqQMPBxFTIvVVViVUtUL3NfaLUfOs+Xwh3wx9o4QDchI4WIGlIIAnYKLn/ziqNv5AzBauKpNb//obztmEBHB/6MiQFxvSbVf4fzDBdAp6ifHxcdp79t6aGZ/6CrVSi/k//6HIs54Qm5/qgyPMEUeqGnmBGfQ7kdm4ZelVOUt4FX/8hvpW7A5t/4+F+8ukR/9dW6b+8p8KQOD53WvXqHIrH/GjLjB2a5m4Hl2VH57/vDxi5P/I6LH/EBpbOZpxbefdeKa37mEWPhOFONog/u1+sY2BeKV3+Hn170VzlvaXky1eq4vflTSgcegL7f8gAaoZhFadUP40xn2gHjKAdncfLqJphzgAAAA==");
    --Character-Munk-Icon: url("data:image/webp;base64,UklGRsQBAABXRUJQVlA4WAoAAAAQAAAAEQAADgAAQUxQSA4AAAABEBIQ/w+rqqZGRLpOAFZQOCCQAQAAEAsAnQEqEgAPAAAAACWcAnTKEcCHAf2D7AJcAyjmWO/iB+wGWCeufg7+MGklxlX8YNUA/m/4u67f+jfiBzFH909wP+LfxP+lfkJ/Rv/fygH6jGkD/KnbR91KLejsmjy50AD+//8rJBSKeX3z293L7fPQ0bvldcnvPydfDEP2mLj//iBfbkh36TL3QT3uYC4kF+BeGdM0PP/11HwX8PRdvn0n53o7jH7sv9O02u/5oDRjyjQxJGFbcfHBQTbWIFcBrNIcHKQpurjsDUKig7+U//DMm5/4Xzu7n6Pu1F+shvBtX/4Nf+lsH0KMf/z4O1M3Dqf/VPphPLC6mQUOOWLXPYxNvDVPWpi9uhOTaV38C9pRoE/bHnasTF/YOXcXg+BvTVEsdHuvEESv3WGOv0m+tYLN9g8gTRH/CArLS+VhItj13/OPp23ENAlBzHy+tMUW4ra/zIpsU5T8WzeNpr+IdD9SiJTVmqL1CAxrVRZ8NECLbf8QqXlbM/hAecmHHFbqo8FUWrdz+RbyuhWu7QQ4AA==");
    --Character-Paula-Icon: url("data:image/webp;base64,UklGRvABAABXRUJQVlA4WAoAAAAQAAAAEQAADgAAQUxQSBYAAAABUNq2EbT/yn1hjx2NiAnorgP/JTsAVlA4ILQBAABQCwCdASoSAA8AAAAAJYwCdMoRwIcB/QPsAuQDdZuAA/YDrMv2O/WD2nqAgyVT0T8GP2Z/wGklw4DRgNZy/DP1ZvLR8uf4D3AP4z/Hv7N+RXGMfqaaSmTc8G3tnJa7aWZT8EgA/v//KE/WpfdUxw4qN7sfQ2uJNvJA2y2qUVJ/wOPb+Yj8P/ioZc+iWg02D7vgxvnwlJKo9f9rFmTTXxv5knpxW/6uvgh2Rcj+6ofs0mujb/SnNThUwM4txUIpFYrj0ZM/+F+fDKv/nnaBXbjdv+LOavYt2/3Xof/+3FIkGWaop/5lk6Y+485iFba5ArtWE7xL9BMG/BQyaIddzGeRKIJefMd8Awn1wko/3DMW7I5x5zQk4w949cvY3I3py8NSQ3ze/FdwCGTYZ+RtFf/vTCk34gZSAIKamkt3j//efBqn/Eci/85ytxR/jx2jwnfxABdchnyaP6t8xrwrd/EifB3aGnGVv/kzb/53aX/FEsZKZ5kfbcwH52gJPe+4nG65xHXu1vq7fWq3XPdoT0DWZeE2jHMxhGIX2NqcYzMOb5PCbz52cTvxqA9SQAnqWlH4DVAA");
    --Character-Becky-Icon: url("data:image/webp;base64,UklGRtwBAABXRUJQVlA4WAoAAAAQAAAAEQAADgAAQUxQSBAAAAABINK28S96Gzw8jYi057gBVlA4IKYBAADQCwCdASoSAA8AAAAAJZQCdMoRwIcB/QLUA/UDfM+AA8of9gPhA/Un0c6UE2c/qTlp/qH4u55PGM9Fc/HLXk/5n8QPdnwcvxm+gP+Ifw7+n/kl/Xv/fyrv6AHXr7uDaBVzbCF8woQAAP7//yroWfkI/wyf2p0jMW7dLKf/96+nQV4pGgqydVa2f/oS3t0+cvJZu+4zGZTBi5sYGVl/8sR/C/7xGJPROsKS2T9kxXQH/YBP/3kAOdmFyqG/0Bgo3yf8ZgECgfW+z9p2G3D3/1v2APZv+eHkCi//9fAxzZr6eZMZY21pZzV9tv/9G354X3RvOD8nNL98ksMWDtzMcCTEvfVTSL5Je/jq33M9loiTIFOfwu26YCQubOD7trkPffd/NxC0ZKC5traSXwTvQ74lIrSh9cOR3N1sP734NZIUac5Rl9jV+q/DXqxT+HbvVYjRYsg9z+i/uGZ50PeL/I0JDNAX8Y+LsqOCLEWN/nVcDIsAQaiUMFtJIrHi6QGVqi8mS6lDOWZWnhx154+YATsY7cXuek/HShUSudF2h2BMqYC3ZsAAAA==");
    --Character-Rosine-Icon: url("data:image/webp;base64,UklGRtwBAABXRUJQVlA4WAoAAAAQAAAAEQAADgAAQUxQSBUAAAABUNq2EbT/yH0PFh6NiAnIjtvzKAMAVlA4IKABAABQCgCdASoSAA8AAAAAJZQCdMoRwIVL9oEugacl7IH6gei1cpecG6ieo2TF+tfiNOKukAf1XUef538M/dwz76gH8W/kf9k/H3+cciB+jp2328rZ8F7Pg3vSvVkgAP7//yh7yGO4+RQxN/7vzf/HZbFqrqiD3VOLSn2NAUrbaoR/q8K6WU5R1zf4wGqXs27hJhReRXw9cvPuPrQxVsH1lzpv/FK/yJJA0nObWT/4G9O7+1hnH/xKUl2ESu9Wv9vU+r7oeoJpr/h5LL3CHEr9k89p4ZW8wo/YV2IS6aL8O7OjBSef+m3ASfnhaNtk7Blky4dkuO8uTFXL9QX75muEiJKZy0uZ/7A2+ThPNBKBzd87o2xkHbRh/cm/g5/D2hjN758h1gVSJPDL//zGfybc1/rKe/++Xbi6hp+0/jF3f/DfTftq/iE3oBgf4BV2x10fW+xybIe5ENMzNh/hff/Fl64773UIF/XP0+qs//1fYbn6q5xdBK+8Sj+HHiNdatYHtOzTOxw1A/GxmAGHd++i6NEzcLt0TkCeQBEd4CnacO9AAA==");
    /* 2年 I II 班 */
    --Character-Angelica-Icon: url("data:image/webp;base64,UklGRsQBAABXRUJQVlA4WAoAAAAQAAAAEQAADgAAQUxQSBEAAAABUNq2AfP/y52wsDQiste5AQBWUDggjAEAAFALAJ0BKhIADwAAAAAlnALEbAbgg2f2APcA8qr2M/2V9FWlBNgGSn+Qfhv+o2mA/mf415JH/AaKr+MGuT/nf5Af2b4TMFX3A/4r/FP6/+UvGc/pKYrTN+u6wa61Sv2PVx9TAAD+//8q6F5ua9fuIASsDlwXf1F+TPNQcCDEKP57ayx/8yZ/5PUsRIQCitIDWVH+nRHSTQDRg7uLi5TyK7jIcM8RxncxvnH+l5NHFhi6Ie9FHHxW0WoEKlav4I7N4p/v/j//7jfNRqLshwMvKA/7Xjhlhnbf/zdKAhp3txneve8bX5PgDxlVCt3f85CSWeHSxOBnKL4nMT1//w/DLAlANV83HJOGUGP71cHVcPnLAJeYZy/rdAO5NjSFm2xi64c763ffL8Yv/99kMLa//pTWrAbnrP+/ixF2V2VSXgHlz8CYVc3e5M2aKmX8/f29WNwVvV2aLmV/4srk8m/BLi/tnzwIHeAp3iPhJiuQoYlHsjl8l0LG6QktrHfGBz4Rg2c+qAxacRcxSAAAAA==");
    --Character-Vincent-Icon: url("data:image/webp;base64,UklGRuIBAABXRUJQVlA4WAoAAAAQAAAAEQAADgAAQUxQSBEAAAABINK28S96Oxw8jYgJsLPuUwBWUDggqgEAAFALAJ0BKhIADwAAAAAljAJ0yhHAXKrvTOlFfsB8CvlM0CB+wGWCeefif+x39y0mf41zhR+I2uz/1XLK+Ov8t7gH8L/j/9o/pP7af1n//9wB7AH6qnF/RgR7TLo5VqVq3/adAAD+//8rI+ZzI3QX2N0/1wUHEMR7OMJAaS5/rSEX7PeTA+GivGuASxWc+wyp1hnO6Ke+JWb12Gc2z5hbifP9MTkRxJpnRtj0roZF//+L4f/yIlh3+yKrlKrslvYnz29XvofYYkv/xBbtm9eM4gBYLg98eT3t/+NPuSrQ3LP9och6sWC+xrhPkTTc7X8c2uUzEXhAf8SiTMWQKj616iwJH/CRIbecl6ZwiXM+ebPO0HfiHuxa+a4QCP4WQm5gQ+bXiBb5jsj9h8xLZO3x/m0UmtH7fplfjSObx/jN4Fwl7Z/9e/2/yV/9f/2X1Xg/0b9T8kO/J37+IFZZVL8v/64LkPNseYWaVyN//34zjM6W3xVOTZJ3fzGBMRxmQENfxRUbSY8C7UZ1vsHsvX5gYSyJ90YPtSW0Pj1zrZA6/CUX+dS167wKs6owAA==");
    --Character-Friedel-Icon: url("data:image/webp;base64,UklGRtYBAABXRUJQVlA4WAoAAAAQAAAAEQAADgAAQUxQSBkAAAABUNo2ErP/st/wFXjwaURMABVDjvmXvrgAAFZQOCCWAQAAsAkAnQEqEgAPAAAAACWMAnTKEcCFZyZnwAHlO/rN8Gv7RejhQIGSn+wZhP8Y5xN1JP+A8oD8ZvYf8yf5L3A/0i/p35M8Yx+mZ2326401mnAKj4KYuDgA/v//KuhvlTP3oeZhOoyHdZT50FEY/pTqniwrr/2JLQNOycP3//QiOfwn38BrpVDxwlac8Uc/QvO8H53Wp8iBYy71sS0POG9r1f/svzeTbqGj082EiWP/XlRY7D0LTHKRvSANsAtRBQaSz/+m1n2gn9J+nK78cvDoxX3+/dX7eLf/7DRMPIR+05b2GUzsgtZ7rIe3b7iUQ/+P/xBnaif+FZC4/nU2FQjTevfTIH6vsfnXjzdHPGn9/1f+Jf3d+q60vFFmu4ZvlV4PoWhPkMdHgQAt5/5cf2tl7nfPtfo4o5fOp4/8S5P41yn6qUtNP58+b+TtB7fadoWmyn6ZmFzuwHd8ipDzr7z/nD+zKjiepI4sjGnQsBir4vhOz5q9J/D4KB6sZY9RfAZJRqLHUaVTUw5xEeNDeEBNDqAdFciAAA==");
    --Character-Lambert-Icon: url("data:image/webp;base64,UklGRu4BAABXRUJQVlA4WAoAAAAQAAAAEQAADgAAQUxQSBEAAAABUNq2AfP/zemgZaURkb3OAABWUDggtgEAALAMAJ0BKhIADwAAAAAllAJ0yhHAhVf2ge4D+q4Tl+mfv/87NwAHlD+xX+zvo10YD8AMlZ83/C/8jtQB/IPxu/IDLKPyM1Bj8TdZV5Ynx7/gPcD/iP8l/p35J/vryo37AIcaM0VJOvzGxKJDm8UAAP7//ys9PvQ/tubmEEO4lQFzO+rm/rde7VX4eGupTg4X/3RWkmdNu93tPBPBzH5gIsYPc+H/74N/+7Sto4WNAYbgd2Y1+PFzfKb9v/ZbkPJAEoamiFsu0mgdGHscl48rfm/OYy/PjsAEAJVULZbIrMpsVqkfviLiJRAvoFZ1hEZBBJCz8TH0hBVt5jp3HWiP7wa//uDv6rQYny72xq15XXYb4/O/qoUCx/xKMo3Rln1mwO7+4GluN/mJbZs0/1tPuiq6UfwiDu5tA8HlD7Lb/Tr0jb37QydH7/9JqLlSj9ksP8BFm5xkFOTEDfdK2lH4cwQn859T/ne+yU0Xvt/8TEPlf7c5gieu2brv8MXdf503vf5MIVPXSwRXeMtbIhzTH+11jIwDiCIgQBsK8qi4nVZYeuk9weoOj+KQBPCeZ6XHD32abmAAAA==");
    --Character-Fidelio-Icon: url("data:image/webp;base64,UklGRtYBAABXRUJQVlA4WAoAAAAQAAAAEQAADgAAQUxQSBEAAAABUNq2AfP/y52wsDQistfBDQBWUDggngEAAHALAJ0BKhIADwAAAAAlnAJ0yhHAhwHyAewBhDu6gcAB5WH9m9zfydqAl/VXJMfg1nwPw5xWbUFPxr12f+A/gH7AdFP5a/u3uB/xH+L/3H8w/6fyNf6kmsItGZksoRMKGjb6NAAA/v//KuVS1utZPcj/b22xZ6Fx73DDdqfcvJD/MG9v/2/nxfgvE4fxXdiQsZjQO0KZP4QHhAf62knlQdW8Dr3SXrF//4W315/zEF56u48RlkZYH/mn8k2FZ0mUTO49VmvVLlYsryiwP5ok0pg//MuD6AdJzCoPIDv+72GpD+Qnd27TL/jtWu2U5fNAlqriKhGQyWeutHTR+RIxjvzt6F5FKngiuiRZq+7iWt4HU1UNXP4Yf/vo2Ji4dTig5B75P3EpCcSvCv9P2Awxu/lRKDt2z7gPMcf/DH4413no7owTQCwq3j9968PSLKIizRa/ZqBQ5Nhcx52fzLvWJ3DV043rspq7Vd7E2TMv65Xm5uVrW7oIP9JwYaTmQ5kVRDccwMXnHbKIGfKc/yOg8EIiOSztcJxS5VgRrxoYAA==");
    --Character-Theresia-Icon: url("data:image/webp;base64,UklGRtABAABXRUJQVlA4WAoAAAAQAAAAEQAADgAAQUxQSA8AAAABIBIg+f8ZNBqtEZFueh0AVlA4IJoBAABwCQCdASoSAA8AAAAAJYwCdMoHCV3wB+s3ox+w15KVGAx0P6J8meoA/nmGAaoB9s2tAeUB5aPZL8VfoA/SD+x/kT/Q+QA/VU69wUvpfI239AjGlgAA/v//KzZGsN8AdInlS9ABgsXsmuTtUir//kAHsAL2pFJQ71T/+Qxkj9C3+iaWFXGvX6va1P05Bfn/9WT+PZavwoFAn/M42Zrf/PNIrX3s/oajTlO4h3Wk/99v/1J1kfi1k/ZrbOiz0A4DPaELx2dcE8S9RiysXM4sWx4b0bQllOFzKf7DW1TMzcb/DjsRmpTD9D0vxkTs+1impbdJx/SiPFmuQ2HBru3EPKftE3+/bhLgAuFfXUwXDnFF3GP/hiD3cRhk3d/rk+ofeLjxTu6/9fP8VPLD97JWNs/+h/9r/HnCd/La5InZkwdf6ve5p6J8X5gP2c/zmGP3KoIahPj/G+tIt9h4/VD2fRy/zy2Ey1L/+qiGlEBZvPOLOPv57w8c+WK7BxUcDGXs06menlWeCR40Yy3ipN8FFBQBgidGhSTJ5EAAAA==");
    --Character-Edel-Icon: url("data:image/webp;base64,UklGRjwCAABXRUJQVlA4WAoAAAAQAAAAEQAADgAAQUxQSBcAAAABUNJGEuRf6n4n4Q4uPBoRE7DXfwrTAwBWUDgg/gEAAJAPAJ0BKhIADwAAAAAlAE6ZQiQDhAjAKsB/gMIr/s3t/87NwAH6zeij+p/wFfrF+0ftS3ID8AP2A6Xr0v/B3MT/Wvwv/I7UAfyL8O/2Zyzv8w/Ir8gNgP/oH4ga63+3cZn/QPyO+gD+D/xP+yfkn/af/jyif6UH1cL0+I4RL0ZRXtWdPAAA/v//M+t/CUD7wCx60JanTHn//9Qc4moihERZeCdqq0gCDp4SRD2uXsrNTrdWGAg0uTJgA8pej0H/4hnSlBRI+1y/JzAAvakb/VoNr17dyUKiZS5/1wNu2rx7EUFCRZz2SSHqqoEmdWrgHYdzM57SB+7SZWsaAoV0WANhF1TymA1rDH/NyajiDRLVOn71ZxtiEwyW1gDij3AbayuJRXE9ljy6f0COpsp9EUMCt/jhX/iGHyZff47n+L8R5YMi+wqXj1CzpQfgHjll/OJPhuLf8tEz4n7H7kfP/nf/8Oj9E/0bJ5/Rf78/y/vnpJ3Uon6F6DmKigz5s5nBL+SfL+I1Mg3Sv//y5IY+7lPME9cEJG/MKrrAyz2BM07+IXqKX8paUwYet1UovhwcbC63zs92W8c2/9EzbrpJj7G6aanSN13Q4Lu1ZgukjTSt/ikP5tpqPW7cjOKKrf0ICrf0Jr16ldB56QxSJ8bZE2tO/kTd+dMOrMCW/6QAAA==");
    /* 2年 III IV V 班 */
    --Character-George-Icon: url("data:image/webp;base64,UklGRh4CAABXRUJQVlA4WAoAAAAQAAAAEQAADgAAQUxQSA8AAAABIBIg+f8ZNBqtEZG9jhsAVlA4IOgBAAAwDQCdASoSAA8AAAAAJQBOmUI4G2AcID4gfwDAQN9A4ADyjPYa/ar0bKUE8A/ED9jssE8r/FX9mdFn+FeSA/t34gaoB/QPxV1yH9V/ID+zezNzgH8N/h/9Q/Jj+m/+rlJf1APsfNMjjIiSpL8Y7kSG9gAA/vwIuojvc6HdgGd734hUCiHOsCxf+rVE/OiZ7U+3Zs4BX8FGi8vbIdxkV8xmsTv7k4IZhZ1f0jwd6WA6//sB7teSHd//pQ84kCc4Q/n64C/h0Cv/9qAkhvMz3SrRn2nqfrfP/+79PqaHMU0CQq+ATOrJca+1VImcf/zO/+6C/wspzI3/+xov5gwvevJ0udKtDpNv6C+ucKLD9ljzAeu6VRLRgkzH8Pf7Z//95oSPa4/Boor7li5Mw1/4JHVDN/86ZKF7A7f35p9SRcsT2TJtb+ovOfa7oIXQ1WCLRuDQ3+Mlgv6fXDPhUA3/zce8/R/vwHCltP/f/1HBU+vzWif2pAv3oOf+cZy60/T3PYsZ0uw/5Bs5P//5nD7GFHdUnDvXJb/oAZR/yd0y4ZdmIxovyd+7gzVNy9B+s8KoxsvIUTHytiEARbFTm4Y9hmZUThM+vo7Y4TO2Bn/9Qdfwv3Sp/8/2y7RbmsKLi0Q2df5MgQgNY1AAAA==");
    --Character-Towa-Icon: url("data:image/webp;base64,UklGRgwCAABXRUJQVlA4WAoAAAAQAAAAEQAADgAAQUxQSBEAAAABINK28S96Oxw8jYgJsLPuUwBWUDgg1AEAAHANAJ0BKhIADwAAAAAljAJ0yhHAvwIgB/APsA9gDmJdt0/VXLAOeq/TP4GP2A9E+jX/ir+wGXNezfSBPnv7N+OWo7ajf/GfjN7jOd75V/wH43fQB/GP4x/efy4/uH//+kDqK/0zPvb0yqi5NI9ruSnovAgAAP7//yMNRaBpLtHtRy/9muCk9yxPOrHWfGW3n7keUQ35YMa26z/6XFE+ReKGsE35LjALjitwAYpUS0LHFVP/7ORl+js4iJisbUAESCPmKrIOTUMvj2W9JF68eyWdD992m8Rrm04tDdaPm/NCZPFQJ322d1f4RpAWpmJpOuMiqC1fncj44UqeS+p4fqf/dteD4cErXd2dqEgf/95Q6Zell7wCjhpcPAyC1hBb//lu/zDMijcGeMe0f+vSqu0ylHVva9z/51b/jDkWMSeYcg4n6/myy4LI+qkb2/UPNjwHr7u0Nf+W37tMFiNa6/8f+mQE/u4K//Lk8issZguMKnTzR/tziYjKr9//cxgcmEj+3OYy8D2ad5DO6s14TCg9p/x77b550R9gBz7oQytM1Ro2bIq4P9pgeKFu0JsHe3NNRoj/s/EmALrca+mAf/Ht1WLsLxZLL87c1sWsH/nbmtcgAA==");
    --Character-Stefan-Icon: url("data:image/webp;base64,UklGRuABAABXRUJQVlA4WAoAAAAQAAAAEQAADgAAQUxQSBkAAAABUNo2ErP/tPcFVhj4NCImQIl9D+9fanEDAFZQOCCgAQAAkAsAnQEqEgAPAAAAACWcAnTKEdyFZ+YC3/+eA6wDnoPZd/YqYNfTNlgnrn4c/qThAGqjfjBugHsZ/jBrs/6r+MHKq/ir9Af8T/i39w/LT+o///lAP0AQ5OX29kmei2SPI2F+QgAA/v//Kyq5eXP895cXHSX/4MDWEG3Lffuv4KLesM0d2wvWu7f//imEj2HCY3EqaRU8e4Ub59Wf9Mby0Gc16pb2Nh3HwCUjS3OWv4PB47nnv/861os7fAAi/avq/22oEofJYh2pSMdz1E8MrLc7xD33XVUqZhf7xhy1k/0pYhX48nHcZXjfTaQLlSTl3Y78//XO7BeCI70f+ftFzeURgXG9fXfJi+cOTh8bYyj1wde5IftdSlXhV0kA7v1ZMcmz88QfikYYPs+vjE//4Ux/fVMM68m81Jf5d8PSgpZ5ZL/20xx7/4VC7zv2C/eqt22GA3N+1r2KJC/5rKbco+CR2Irg1+QJaq5+tBz1tkTdy2XjeezaniFUmOZ2x0pWvDUg//62sh/Ro4UbQK9hw2ONa+NyboEA5IHIHLkAAAA=");
    --Character-Clara-Icon: url("data:image/webp;base64,UklGRuIBAABXRUJQVlA4WAoAAAAQAAAAEQAADgAAQUxQSA0AAAABEBIQ/09TNTUikuA5AFZQOCCuAQAAcAsAnQEqEgAPAAAAACUATplCO5CpfxVuADdAOAA/YD0ZvYO/Un0UKOB+HOPc+mb+Z6TvGY9FP/HLXb/0b8gP4B06PlL/M+4H/Ev43/Wvys/t/IAfqaaSkj6zUHj6aucBa4qeAAD+//8q5XDirrd8wdnQg4C+163IK+ja6iWXEzOedZMgyfVe8TYtg3NvSsB+2naP0AvHsR/RXTRWn//zNwyRDS0VWS5cb4dZgf0vKQFQhxPgb/P/x7Y7VFXzRVKIm8BJv+fPM5dTi4+pPznAyOiXqizA37Ij04IQgf2uC1jg8sBTaoyr2O061yvk++F9npaJg6pN/fL4iu8gVbNC8b7hd/7f2/HebG6KcrAG/dMW42Yzjlm7qZri1OB300U2c9Nn+/jncjG/1eMcWcujv/z/xygPrSySrZEHgHHX//3S/S6cxxZuBuV7yC5Mgeufylw98ZHYvvwOMpeJ//JsGfi861D79WAzTz0//9ULAeL5JLtOTHR/8P/+sT1lAp77+kyVJCR/mrO5I6OKLThdIbHS84QKu8P8VFHUV49fRgsQ1SAG0t55mFH81AAAAA==");
    --Character-Hibelle-Icon: url("data:image/webp;base64,UklGRuoBAABXRUJQVlA4WAoAAAAQAAAAEQAADgAAQUxQSBEAAAABUNq2AfP/y52wsDQistfBDQBWUDggsgEAAHALAJ0BKhIADwAAAAAllAJ0ygxg7pP2AXJXfAH6gdaJ5SFKCbAP1gywTyD8N/x00on4u5JP+n/jlqKv4ga8n+m/bNzoH+A9wX+Kfw/+tfkz++3Kn/o6YlKrLI9sL+mlIDQAzAAA/v//KuWWSzkK55X3+odUFjoD3/4UxNw+Vhdl8QEsh//2qRbzxKAOFsMtBiH/mjEu0udHKHeikF2Fgn//7UOI3LAZ0+tjiZe0IOqn8B4n/0xy8QvM+Ch+RfPAZiAo/LqHuRDdzr5iGAB7K32q0gAYsd8y/Y0P8NvoNFlNf//vsdapB0x0KWYE9AYr2SKz8/XYvsCvYh4NISjEOAIzEffbre4spvYBabi8/8zFCplkL4U/M2HBuf88Dc/sgoUx7KoQp4k8HV7gfvgfr0OAG3oVS3P+fRv90bIP9VsY2/2x7D0/qTUtUuMIA+/gFk7CVh8fk6az7uf4T4v/voJ/0zlQfniu+qH4lyeQM9iB5D3H+dNwDmVa6g/s/x/xHFi2+efIAxCusI7IvRMjaP5hW8w+ccNyAyHupzC+m4UYBzeD5LJAFHIBD0cG9hBJ1AAA");
    --Character-Loggins-Icon: url("data:image/webp;base64,UklGRuwBAABXRUJQVlA4WAoAAAAQAAAAEQAADgAAQUxQSBYAAAABUNq2EbT/wO39d7DwaERMQOg4fT4FVlA4ILABAABQCwCdASoSAA8AAAAAJZwCdMoMYPYE4A/gH2wS6rwAHlKexj+0fou0a/6ZstP9L/Gv9btMB8s2Uq/kBqFH5Ga7D+7fiT0YvYj3AP4f/IP7L+UXGUfowVykm+Eu6l/6LowaAHQA/v//HODDfO7g0El3+JP/kwScSDwQf5+KE/qBEScun//6W9/i8TC7rlJX/6CwnGDeG+sfTiLNrxJ94lUlI36yN9WrdLKf/ajnJ77aWXS3f3h4H36LffgHddCAniagXv0DelMSmPybg3mo8RSM+dUmdZlKQUtgLplZwfcmTk8JMDPgX3fO37O4hkS8vM2fB3RfvsZ5nxWIECmjAN5apjZ+8qR1p2kR+/xG0JpT1gE1siVsdpdvRo7T+jOtTYHA/YrNqWm8vwUFn+lEW2DOS8wk5fl8bWUlhGovsoV+Orh/0Ytkm6T/823Z51+C1PPLnove/YiN/mNz4jj/DqLgvtIehO/+trSA+yX+/w/2BgHld8XdZh9ZnufTdfqZI0yPmI2qYhqlizGZ6l7yhSRttBIZGirRpL+F/Ztg4Ej7ha1eKC8DB0WGOjTVKWdAAAA=");
    --Character-Emily-Icon: url("data:image/webp;base64,UklGRuIBAABXRUJQVlA4WAoAAAAQAAAAEQAADgAAQUxQSBUAAAABUNo2ErP/xFe+wYNPI2ICLp9PVQ4AVlA4IKYBAABwCwCdASoSAA8AAAAAJYwCdMoRwIcB/ILUA/QDJAOmV9inyY7lL9AHSoejuTK+Yfh3+QGlJxwH9j/GDVD/8hqS/8B+FfQm1A/4v/H/6h+T39T5DP9QDidEzn3hHei1hSzS8roAAP7//yhlWYcAcpwDbt//w/4d5Ph0BPFSgALbnH6VoWAwXZ5wCm8c/lzaBlO60TypHlB+3/IgZOiR+90BSyh9BYu/pJFck04j85QsXbHxJnrjORTUZJsoLeUt5fn+QqvaZJmpR0PYfHPzzbp1PsSlkabZ3yHQ1PTo4//qIW0e3pfH1FzU2ZDQuTtrNWIs9eDi0Ls1KVcyT+zf8eO4KGFJs4vWJFWciHoXdfC/gSLeyE1n/ooIpeStMEvh0Pq/1WrWMKA8swM5/z/g1Sf5yTeVIZPaHf69Uh6LpdjKGT/If2JlZK3EV+a47hiHf/Q89Uzv+zufwFlpJ/yAg//I06Hlf7Mn+7+SVnToDlK+oiGd09/zmnuqFmR/Uo9Eyxe9ryvQVOQCdiCU057GBUYwbe21X+5jpHSmRlhtLAW+qAuA+JVWAA==");
    --Character-Klein-Icon: url("data:image/webp;base64,UklGRs4BAABXRUJQVlA4WAoAAAAQAAAAEQAADgAAQUxQSA8AAAABINK28S96Gzw8jYjsOm4AVlA4IJgBAADQCgCdASoSAA8AAAAAJZwCdMoRwIcB/IPtul27gAOkr/Yz9jvZyo1/4O/sBlgnkvyZ6TP6Zsdm1ED8OddF/T+Wh6we4H/E/4b/Qvyl/sXId/oAcX41rj6V2+7tPhb1uAD+//8q5btf/smFFNO//80Lz/eyxZJWRYWWSgRjek3cV9H/73+c3/3IqhdkaUcicVHcQq57gQN7LUVPaOuTCb9gMvByxzWXCPpPsC0ELlIDdWgH/Xvz9RlG50njfjjh4/ddDcLxwEZ1beRijMYluBe1d/ac0/Bu0O57ZCQ9NaXiDuqyWNHHeIKyjpU5VR/+if/2a7///UeGdlau5GF8P2WKvxLil2/V2Gfsv4tgE3j4ZFLoZNivw+t+k9lIOpD7G6/7d9//HULj6lfGtrxQknosvnU5Pt7LnHL+qtYHbEJzeWL2SDt9TgTP4o+EPhDSQUyeKzR/aUkitK5ot8KWre8AMRcMJ4+Hrekr3sgFNddmmnMXdheYmaFtfxBF+p/xZoAepHlOSPZjhwViAiMfEQv28BuUq25RgAA=");
    --Character-Nicholas-Icon: url("data:image/webp;base64,UklGRtIBAABXRUJQVlA4WAoAAAAQAAAAEQAADgAAQUxQSA8AAAABINK28S96Gzw8jYjsOm4AVlA4IJwBAABQCgCdASoSAA8AAAAAJZwCdMoRwD3AOk6/YeYV/hn+gGWCeifhfogP5n+NeQ16LHqK/5n+QHRx+PP7H7gv8Z/h39c/If+m/+3lO/0aPRyKqPEOlLqqFohMciyAAP7//yrlMDH/1Z/6Gub7KOxQU5r4AW7NZ95uHRfgrBqvEPo7/9LppB5B2jLJvftkDWt6KNdz3jvaOWzZMxNQZuvCYSHXlfE+/907/7A/P1w/Jp0qS/NBVVeMNe+8lKVcfhthgRoI/uREc0En/5ZCDWQYWF99j/6HhUSvwnWfnkVTgf87/94MU3KQNOkZR9ewN2mpZJocoOq8S9v4vf+2dpobuD64s/rb+OY93+/8VVl8jH39TYzTH9Pa/2bf8nxSwLuRMvnj/yHSn/HwfcqzV/9Dh3utdvZM19RHAwj3wHxj6NB7nsUFq/8r/bs3+PERhTv/z1/bvT65kU3pLvctKUILude3xkv4ErP/JOyIWWZq2pWDEMQ7qa0WRpoD3RXuUKRm/MNxCZJ5B0vSNgAtcNCpi+F+uye11TTgrjii4AAA");
    --Character-Dorothee-Icon: url("data:image/webp;base64,UklGRsgBAABXRUJQVlA4WAoAAAAQAAAAEQAADgAAQUxQSA8AAAABIBIg+f8ZNBqtEZFueh0AVlA4IJIBAADQCgCdASoSAA8AAAAAJZwC7LwGEA+2a5AN1A4ADpQPIrozH4m5Kf5B+Ln6q/47SifiN+QGW7aKf+R2uR/t35Aeqr5XNQD+MfyD+nfkbxgH6AHo5FRQxCtzskutTqbEgAD+//8rNfb5SlLVrP1Nt+W26qay12Ewn/b/bL6Z9yvV/GAYZdv/zKG/JY4s/1D5pIqeunq4vm+7Uv6Zh8Gwm/cNGCf++an/XkCUPilruWBkwv/VgasdDkNpgr2/4mpVNv/uT+RyXqIJsT7FjsJN5TVm9rj95YbM+8N71gGq6uXP95ciHY90XyQYZwjg66tnJDsN97qSCWx9YItI2W/21/PjBfeikRNLLQ5sx2QZpNlzQ8Z//OQ5lKeo9/o6x9kAC+Ln/17nKLb6BDFogS3O22IfFgUVEKKFbsijVS/qnZc6VVmqh0B+RJox+l2HsZnerNG+spDr2/79K+WpnKoDpsydj6/xa3Ef5Uz7jeuwS3B0q+jRoi2spo4faSgusJGe3UqP+AUC8yc5wyIBiS4CwgYAAAA=");
    /* 教官 */
    --Character-Sara-Icon: url("data:image/webp;base64,UklGRvIBAABXRUJQVlA4WAoAAAAQAAAAEQAADgAAQUxQSBgAAAABUNo2ErP/wN8bDHwaEROggWUPz19qcAJWUDggtAEAAJAKAJ0BKhIADwAAAAAlAE6ZQjgQ4D+AfarMf++AdJF5ItyA4SDHJ/h3+zP+Z0pP4m5JP+7aLN+QGuW/un4AesB5dNQP+Jfx3+4flNxl/6OmK5RQgsSHsW5GmA7owAD+//8oKvrRm6z+pCIlvvsx8+TdVJhu1vOPQXW6WqXI3b5PH+1afv5QB58//dU4KXfVDxtNr8LPFFiPZcgnseoeY3or//jj3YXzuRwv/7yKpKfj3E6+xM2//oZQvoWoCkxCXzk9uXZbEmScdJV//i8qA5FvcOozGZ4gRH+5KeG1q6X46CqUk65gc7gnbGmn/hhiQq4LD0wvRbwusCNBN+ARcfXeoOGYd4Ircp85bH/cko1e6RH7+4XdajPSvq5/5gr+xf9ylpNAtjEHylQOixPkGdzz+3/8nhV9HS/7fsQmX7E63WuT/4y2pt3/MB81Z+JmRpCwk/v/76MUw//qNOnP/hr/58312y2vtatMM//uUOXJ8n/34v/csftoTvmnZVB/9UY39MQ+tgnRzfOIv+Can5O6c3EtXDfm+pXUjippmtDXyPCFiwfxcDtAEK4gLAAQR3ovAAA=");
    --Character-Vandyck-Icon: url("data:image/webp;base64,UklGRtwBAABXRUJQVlA4WAoAAAAQAAAAEQAADgAAQUxQSBgAAAABUNo2ErP/vN87PPg0IibABu46/C+UsANWUDggngEAAJAKAJ0BKhIADwAAAAAlAE6ZQYwdKBbgHv/85BwAHSgfrx6JtGz/CD9bssE8o/F38bp4z0Xb8btdn/lfxm6O/sr7gf8S/j/9h/L7+y8g7+gB5CpcQIzcfyMndV0tgAD+//8rBDt/EfxjYkFYBv8ZL/lBfTFDmpkQvD8AJsf6pMiP7/62V9h+7Vtazxt+OtnmSlCDvd3EI6AWvARzUnsHzUppSJbSrRB20TnodRIrm/1ZnG1z6dg2+s68vsjr/ggaMT/aAi6TOjdq2QDjd/xclBZ9/Ycza3w2odu9/l0EyB2aCTJfibqFf+tnf2OmgIB5OFsKgo3TVL/aw8Og9mtme21AioJqn194G4XzXmn5oy7/z8L6vt9cP8vh3o/+Narh/rFxoG3vnnwux7E2f8WwySttHwmo6hVUO0z293/8mELfjWe4jM4iaZ8J98j/x/8072f64p5vxnvh4n0zjdLTil6hWPvGRpsKfrIqsLK/FtnmxY7ltU9oj+S0y4kcPDeWVR3ctg7ofctKdspvT7iN16DKJp+n/sbu9//sAAAAAA==");
    --Character-Neithardt-Icon: url("data:image/webp;base64,UklGRvABAABXRUJQVlA4WAoAAAAQAAAAEQAADgAAQUxQSA8AAAABEBIQ/09TNTUiJoDQ0QQAVlA4ILoBAACwCwCdASoSAA8AAAAAJZQCxCMBfAPsAuQD9AN8A4AD9Zus+/YD9VfaNpQT0nHP/kH4ufirpVflmyID8AK1R/dPyA94LFR/sf4wfQH/Gf45/eP6F+2/9m5Bj9GjWER4HLMvhvSv8cAA/v//KGLk3sJbvrxtQ1Q+Uuluv2O1AaFtIPVD4/0aLt/upPxLD+/+HuwvMAV9J0/0729xvxi8q3xDwVeAUVf4Zmu9QmDkQNGE6orM3xnw1s5mpyuWtLeVm2vhNYB/QofhnIilOXCPhfBtGOeM1hftfnmfds9ShHN6FfmyEskIY1Gg4dPmZ6YYW4kqMwrKf/6kNL/W7LC143b7WMIHGnfNrlj/vtf/+TPZ33Th3111ek3qPHotfj/87v/4Fgi0d95+RX/ZCxxzlgmbyoT9VqDD+///3+Jez6Cwk412w//2njBpwnfiA6Us6sxmsrd8XV/FivWFwPm6U9onf+TNgaaW/Db2f/VjufyMP6lJmALYfhK/sEpNRo7PsJp9mo+Nri/W53V3BNVLhXkjompRPjRoZDND9vn2f6Yq2d+BnMJO9fq4AFXwAR0vsMIg4gij1jSjSAAA");
    --Character-Heinrich-Icon: url("data:image/webp;base64,UklGRt4BAABXRUJQVlA4WAoAAAAQAAAAEQAADgAAQUxQSBgAAAABUNq2EbT/xm3vg4FHI2IC3Fh7eP5SgwNWUDggoAEAANAKAJ0BKhIADwAAAAAlnALELwmUsmAcAB0nH7TekVRr/pmywTxD8RP2j/xlYAd67olH4u68D+gfir/AOdE/o35AfQH/Df4r/Y/yg/tv/15Ub9QDZYWbNAxXLS8YeksAAP7//yroW6l2XrHf3zqfeJqI7CAz5mQp+f9yf/wIa7IPbbnO9/+1TXfi1dUCFXj3MCjy2b5dVM0yJR/1V/p3fxXU/wzFGHldV7p9SznzrF6bVliJ0e7X/TcAX/++Zd7Ey1F6C+zA0vNchrpOzNHgXygSY25gSnq/17Gjr/p/XEhxw9x4bp7EttKwwKQJrv/3nadpJ9zfrk6nXnok0/8asCXwzJ7ShhVFA06OW54jVf86DwHizVK21wtqePsHyGYQ4S7kj3NaRLJYTOAUIvkPvtPZ1/lwXTjUFm5f88+W5J6Me7MeIpZ+vNWjnhtvifo7DEUn+k8mX+r+LSdyqn7g+f+rvtpeL0et20S9mNUege504/+MrS/8esWExV++9sy55nop32yDr4yhGIXBOfc1hWk+846dsJiYwwVSCvooeAAA");
    --Character-Thomas-Icon: url("data:image/webp;base64,UklGRvYBAABXRUJQVlA4WAoAAAAQAAAAEQAADgAAQUxQSBAAAAABINK28e94Q4OHpxGRbroOVlA4IMABAADwCwCdASoSAA8AAAAAJQBYjUrpgPkC+QfcBvAG0c/pXvmfAAeTz7E/6d+ibcpa5H+ufg7+wGi3/EacQPyO10H9J/IDo0fI/969wP+HfzD+lflD/dv/pyjH6zFtNlasksBDi3xKyaeEgAD+//8oDwrJfOL4uMfHn+sDrzoth3Tw/sN8EPxaOebkPbuSQh/x32AfFHz2CySiBYbdcueVcconLCWShVqslmWC55O+9wfx+SqUYUI0ipM0/w7tyqP9xR72bKX3Z6bKPt/xwn71Oj624vzCN76NbcX7vYeS/0cc33vysSWxoR0Q4LdaPwduh/AXijUI3T9x6Gj/9R+/4in/V+hFhqhn92BB780hD1XpSP9R9/4/A8I6wa5gTKDbthkj0+qNeh9238/0tv/7e/h4gU19u5//0kVpW7JKVPhbwD/27bZAYRkuC7mv8ANykvsRDWH3PdnMg1gscsCcb+bktWJ/9MInitoPw2w/47P3/sQpid9Fv+S9aKbj/s9/v2zRew2WbtmoH0BcUtTUQs6pgdxDuzjwAMxXkLvLYw7C/5mBvUr33FdAY3JQDzqNmBRAFQzo3/8ETGV8v/BEwAAA");
    --Character-Makarov-Icon: url("data:image/webp;base64,UklGRvYBAABXRUJQVlA4WAoAAAAQAAAAEQAADgAAQUxQSBYAAAABUNq2EbT/wO39d7DwaERMQOg4fT4FVlA4ILoBAAAQCwCdASoSAA8AAAAAJYwCdMoMYKNJ3WbgAPKW9grycrkB9GfMc5Kf5b+Ev7AaYD7TZw71G/8v/FXoO/Hf9m/ID+AfYH/D/43/Rfye/tvIRfpQfbAJ/AiouQNc7fD+8DrAAP7//xK0ZZS33vAYgF4eP02qzyIVIDyium+TOnK5/HF7BIS0xzXf/v/ew9j8L96fa+7VDamyjhBkapfsuKS//TGbFsSzwv82b//Az/8VU+WFVD2qUIZN/HdNdriN6GTijEFtvd8MULfuKonsuoGhA6Kh822rQXzU7gJv4Hv0MI14zFeeFZl+J4KuhTiVm8k9NXigumxD4f3dwC1hov//pVrGP/7ouEJg1mZ6/GLRxvI3RFKZ/KecwhRzbq82ueVJQwVv3uiwBfClX0gh0nZxoG3oM0f4XI9pQ1PRzDYsYC/zV4NsozAEZDkm6fxlFTmM3ud/6WqSv98/+kWVLo/jv/5jD3zHL6zM38cwoM3P8Zuz0z+2Z/J3jbhppDI58LIW342+y1P7oPyT/4kh/73LYMzFxm+ogwYUmAmHmWfndsGES9aUG4H9fZSHGNqrY4T0wwvmB6kJxeAA");
    --Character-Beatrix-Icon: url("data:image/webp;base64,UklGRsABAABXRUJQVlA4WAoAAAAQAAAAEQAADgAAQUxQSBgAAAABUNpGktN/u5fzw4VPI2ICKGHvh/9LLDxWUDggggEAADAKAJ0BKhIADwAAAAAlnAJ0yhHcmgxkv3AS6TwAHSXyxj8M8ma8z/ED9jv7lpRPxGyHbSANOJ/dPxV6O/rp7gf8P/i/9z/L3jAP0rRaD6Bi4p4fVvPWmNfpwAD+//8oVrug36nvpxb29xNZEB6fX8AwK2+2CJkYftlRHP9TusHcd3ZJttcE4eM7xckB++XnygSN7IjgX/sRwu3vF1//2zsTf0uK4/ayTHwsVug8+q3TAoJbEjTdVJOUFJHtff5GjeCE+nmHfwCsLlo8+cPtwFaEyr+bgY+SrFfORUmv9i1EVWk9kSwG4GTFiO5ColIikT5tvRLgTSiV7U+Uu2RD7tvjwqvmPOIf/d/NRQsQh0loYryzWUEKua7MuH/b+NH4bAxIRdVbvz2KP/xwwuHr/g8Mb9afwX/eCPfN5G/BD8UfB82GtefXCL6us09a0PWYDiyTgzypjzWl+/g8BjCYQW+QqDXxzS7ekW+EBs1hL9Qv/EnXcdaishVOXoKC3OvtAmAA");
    --Character-Mary-Icon: url("data:image/webp;base64,UklGRrYBAABXRUJQVlA4WAoAAAAQAAAAEQAADgAAQUxQSA4AAAABEBIQ/ydLqqZGRLpOAFZQOCCCAQAA0AkAnQEqEgAPAAAAACWMAnTKEcCFS/aBvAFwk8AB5QHsM/sR6LlHA/B3JWfN/xdyWbLXdFd03Llp/KH9G9wP+J/yL++/mNxo36gHXt1tZleCHuCbeg3IAP7//ysm+Oz3/u3vl/mggujBtLmIP2AcGPY6WAevBRDDLD/9Lq6uln0VUdyeLZhEJ6hVCjz3jdDaJe1p9QnZSI0N4oF/Cwn+jhzht0qWFr9uXMOFxfa9/XZPrcuCLmQD1W23UwuK0vUeIf/Qz7//4X7ZFUWmpHW/odz+hAb5VmL9xuzjfY8cGjCx4d/vtm9JPI1BgvIwLv38NSPhZfp6iz9+ax/9Pbl3PFQGQByhv/MOuKMHWc93zP3B/uJt2P5Of//kE6/JH+P74bzvCEQjvvfhn+DSQc+u9Yono1y1QfP4XxYhfDXra2+IfD/ZNOKOOslQcKaRD/8a/m4FFrbYRBKZ+ofxHw3s3/HO++QLgbb7Ajyg24aYc3DKcXloiMUukWDoQgLcZl3QAAA=");
    --Character-Celestin-Icon: url("data:image/webp;base64,UklGRroBAABXRUJQVlA4WAoAAAAQAAAAEQAADgAAQUxQSBEAAAABUNq2AfP/y52wsDQistfBDQBWUDggggEAAPAIAJ0BKhIADwAAAAAlnALsOIz3jD9kpiB+AGO3/C/9jv8dpM8Y5/G7UVfxV1m7ls/D3+I9wP+H/xr+0/ktxlf6NHltfKfKXzq+xxUJvgxAAP7//yrlMVzaUvEfD//qisYgn/BWJIK/+AiAy85SfvnegwjcWUfxi//r11mkk5gAiC5vzsr97yqFZ/+2JCWVf/mHmb4Hp1wKBOk6D/+yvibTPtRpZpeAO6P+4j/vS3zFXr3yvOABJit8KTzJ5kp/xTvizjbVbRH9raf/2hDaMeGqHy9i2xWH+o3wFeSgFM//P4n7CnP2s/4RnPxfhNx3+mn6wYsA0n8WuTFQvcP/OVDiX25zmOt03+OgDcv/8bIQ3z2co/G4i+4pHqj/EYGrfg5D//nr7bQjmoJUVYUox4Sgx68mlpZzX7PxrX3/+XuK4lH1Nud4T6c/wVmu915efdhFnmdffmc/pKP/nP53LVL02mlZ8CL11EJpGcI1Isn/9DozK6vFKmVkSH1zvUrEAAAA");
    --Character-Sariffa-Icon: url("data:image/webp;base64,UklGRtABAABXRUJQVlA4WAoAAAAQAAAAEQAADgAAQUxQSBgAAAABUBlJEpR/rqvP0R0OnkbEBCz38f6lgwVWUDggkgEAAFALAJ0BKhIADwAAAAAlnAJ0b4BLwHAAfqB1kHkq0a/8AP05y1T1X8M/2A0XeGq6oB/Jfxr2QD+j/0/8VejX8u/5L8gPoA/i38e/vf8//an+ocgB+qpo/orfnJUJD2kvKjAmAAD+//8q5Qye/8M1/5hIDUcLvMO7Kz5b7mqumVAvL47aaC//69OdnCvpPXkR177s5g0B+LyB0507TgnV3FaEDkmqq6d1udMHX0N9blPVAX6lvH+San6oKnT+zYhNb9vF8rfuNOwN+OKTf7s0CWYhXtOWRJxGfA03EtW2CoDImE3pwL33/HPPemiqQThGw28veysU89HmLoivE//zV9dnuB+fbvylm/qH5ubB5/VW+9Nv0tkBYJo6XKPGFJLM3PBUlZ+G8pbY2QXFdV7+9/O9NO650/xAB/6zczoG/Iu/yFf+Lphb/Ov+5f/nPCf6Wf/PBX/O//iYyf978LiPtY29P8YSOH8k1hZ8tumucOyjb0FrodpI8yOgrevFMcYIYO3fPlqp+ydZ0C5ijpJdc37AAA==");
    --Character-Lotte-Icon: url("data:image/webp;base64,UklGRuABAABXRUJQVlA4WAoAAAAQAAAAEQAADgAAQUxQSBEAAAABUNq2AfP/y52wsDQiUht9HgBWUDggqAEAALALAJ0BKhIADwAAAAAllAJ0ciX7M9wA3AD9AN9V4ADpEv2A/aP2maN39M2WCezfhzkmc+Z/jBxAHoA/1X4AepX+GfsJ+Wf7N7gH8T/k/9I/JL+of/XlGP0zPKwYpM/zGaHExj7wAAD+//8oT8axQ9//FsUuBoHIuPIrI63/8Sif/dPpLY93CYV40//7wqvgBncqoZDRFrjl0HMF/mRbbt9/i5O/df4kHaueKcE8vT8hxUT/9so7f932y7oRv6k/B1zO7/rhpTUoUvb+WZMLbv+rwcyclEUwmmlYGXSyEcoC9hB/mm8z/qhbhptyh2dOHZRWNbLqV/AvCrsxshB//nwTuZqzBwm/fxpwzPf2/4H9ocZNWASJ6SAYa5f/9MPfoyIQenD7mAc/DXDXvauP/l4PNs62uGKoUsq9JYwf/GHp1ri5yiPspj/tmlqvd/jYlhqZn9tsHKI3IKU9n7Zsh6v7p0wXilOBz/953x1nkoCSGef/44Tn7eB7br4NVVuf7kfGlTc0WvogLl3R5E16xqLZ8+gp0QEM4NPAchyQuEOzG8TCad0AAAA=");
    --Character-Sharon-Icon: url("data:image/webp;base64,UklGRtQBAABXRUJQVlA4WAoAAAAQAAAAEQAADgAAQUxQSBgAAAABUNo2ErP/vN87PPg0IiaAAvY6/C8+cANWUDgglgEAANAKAJ0BKhIADwAAAAAllAJ0yhHAS7N1gHoAeVV7Fvkx3KD6QOmP9VclP8w/E/8ctKJjk/7tolH5Ga5D+ifiNywHuAfwn+Kf138pP63//+Vr/UksC0u0cqdpeKbmfwmgAP7//ysEpbH4eyAQCJbLOdo4xsJaHDzih/0dT8MjIX1BYDnsJlss7t7RmfZLtpoM7uKwD14e/xv6MGrKGIN5XXhtzd8rVSTDuMr/j6PdwlvWYmiBJS/7pVQaZ4y78lg8nhDcokxdiRd2P82GSXfRuLgp7vDltPd8//tWkr93//vhNzyvOFt+7Vsf4H6rWqYjIxdfhMZXu+X/89sWeHg3Mp++cOnvSD9ZxP+GXDZAiv8IClP1V54IEGQsVxwnhcDhrXmgKk8PD0wJA0jNbYxKPCXFyrtd6Ln+lNbhFJRgQIqTMOUznOXF8w7//4iX4pgC4+/8W/90PzBo/7/81/iHTX1xDXoT6vzXNpqP8ZNlY1sCnzzvD3dy2LJ2MxRg07RNWJSLdLQLyURy8GCXeALsQYD2rkQAAAA=");
}

/* Begin Common */
.character-table {
    width: 100%;
}

.character-table tbody tr td {
    border: none;
}

.character-image {
    text-align: center;
    width: 20%;
}

.character-desc {
    width: 80%;
}

/* End Common */

/* Begin VII 班 */
/* 黎恩 */
div[data-id="Rean"] div.setting-item-description::before,
.data-link-icon[data-link-id="li-en"]::before {
    content: var(--Character-Rean-Icon);
    padding-right: var(--Link-Icon-Padding);
}

/* 亚莉莎 */
div[data-id="Alisa"] div.setting-item-description::before,
.data-link-icon[data-link-id="ya-li-sha"]::before {
    content: var(--Character-Alisa-Icon);
    padding-right: var(--Link-Icon-Padding);
}

/* 艾略特 */
div[data-id="Elliot"] div.setting-item-description::before,
.data-link-icon[data-link-id="ai-lve-te"]::before {
    content: var(--Character-Elliot-Icon);
    padding-right: var(--Link-Icon-Padding);
}

/* 劳拉 */
div[data-id="Laura"] div.setting-item-description::before,
.data-link-icon[data-link-id="lao-la"]::before {
    content: var(--Character-Laura-Icon);
    padding-right: var(--Link-Icon-Padding);
}

/* 马奇亚斯 */
div[data-id="Machias"] div.setting-item-description::before,
.data-link-icon[data-link-id="ma-qi-ya-si"]::before {
    content: var(--Character-Machias-Icon);
    padding-right: var(--Link-Icon-Padding);
}

/* 艾玛 */
div[data-id="Emma"] div.setting-item-description::before,
.data-link-icon[data-link-id="ai-ma"]::before {
    content: var(--Character-Emma-Icon);
    padding-right: var(--Link-Icon-Padding);
}

/* 尤西斯 */
div[data-id="Jusis"] div.setting-item-description::before,
.data-link-icon[data-link-id="you-xi-si"]::before {
    content: var(--Character-Jusis-Icon);
    padding-right: var(--Link-Icon-Padding);
}

/* 菲 */
div[data-id="Fie"] div.setting-item-description::before,
.data-link-icon[data-link-id="fei"]::before {
    content: var(--Character-Fie-Icon);
    padding-right: var(--Link-Icon-Padding);
}

/* 盖乌斯 */
div[data-id="Gaius"] div.setting-item-description::before,
.data-link-icon[data-link-id="gai-wu-si"]::before {
    content: var(--Character-Gaius-Icon);
    padding-right: var(--Link-Icon-Padding);
}

/* 米利亚姆 */
div[data-id="Millium"] div.setting-item-description::before,
.data-link-icon[data-link-id="mi-li-ya-mu"]::before {
    content: var(--Character-Millium-Icon);
    padding-right: var(--Link-Icon-Padding);
}

/* 克洛 */
div[data-id="Crow"] div.setting-item-description::before,
.data-link-icon[data-link-id="ke-luo"]::before {
    content: var(--Character-Crow-Icon);
    padding-right: var(--Link-Icon-Padding);
}

/* End VII 班 */

/* Begin 1 年 I II 班 */
/* 派崔克 */
div[data-id="Patrick"] div.setting-item-description::before,
.data-link-icon[data-link-id="pai-cui-ke"]::before {
    content: var(--Character-Patrick-Icon);
    padding-right: var(--Link-Icon-Padding);
}

/* 菲莉丝 */
div[data-id="Ferris"] div.setting-item-description::before,
.data-link-icon[data-link-id="fei-li-si"]::before {
    content: var(--Character-Ferris-Icon);
    padding-right: var(--Link-Icon-Padding);
}

/* 肯尼斯 */
div[data-id="Kenneth"] div.setting-item-description::before,
.data-link-icon[data-link-id="ken-ni-si"]::before {
    content: var(--Character-Kenneth-Icon);
    padding-right: var(--Link-Icon-Padding);
}

/* 布莱希特 */
div[data-id="Bridget"] div.setting-item-description::before,
.data-link-icon[data-link-id="bu-lai-xi-te"]::before {
    content: var(--Character-Bridget-Icon);
    padding-right: var(--Link-Icon-Padding);
}

/* 玛格丽特 */
div[data-id="Margarita"] div.setting-item-description::before,
.data-link-icon[data-link-id="ma-ge-li-te"]::before {
    content: var(--Character-Margarita-Icon);
    padding-right: var(--Link-Icon-Padding);
}

/* End 1 年 I II 班 */

/* Begin 1 年 III IV V 班 */
/* 雨果 */
div[data-id="Hugo"] div.setting-item-description::before,
.data-link-icon[data-link-id="yu-guo"]::before {
    content: var(--Character-Hugo-Icon);
    padding-right: var(--Link-Icon-Padding);
}

/* 莫妮卡 Monica*/
div[data-id="Monica"] div.setting-item-description::before,
.data-link-icon[data-link-id="mo-ni-ka"]::before {
    content: var(--Character-Monica-Icon);
    padding-right: var(--Link-Icon-Padding);
}

/* 敏特 Mint */
div[data-id="Mint"] div.setting-item-description::before,
.data-link-icon[data-link-id="min-te"]::before {
    content: var(--Character-Mint-Icon);
    padding-right: var(--Link-Icon-Padding);
}

/* 贝莉尔 Beryl */
div[data-id="Beryl"] div.setting-item-description::before,
.data-link-icon[data-link-id="bei-li-er"]::before {
    content: var(--Character-Beryl-Icon);
    padding-right: var(--Link-Icon-Padding);
}

/* 贾斯伯 Casper */
div[data-id="Casper"] div.setting-item-description::before,
.data-link-icon[data-link-id="jia-si-bo"]::before {
    content: var(--Character-Casper-Icon);
    padding-right: var(--Link-Icon-Padding);
}

/* 艾伦 Alan */
div[data-id="Alan"] div.setting-item-description::before,
.data-link-icon[data-link-id="ai-lun"]::before {
    content: var(--Character-Alan-Icon);
    padding-right: var(--Link-Icon-Padding);
}

/* 琳黛 Linde */
div[data-id="Linde"] div.setting-item-description::before,
.data-link-icon[data-link-id="lin-dai"]::before {
    content: var(--Character-Linde-Icon);
    padding-right: var(--Link-Icon-Padding);
}

/* 薇薇 Vivi */
div[data-id="Vivi"] div.setting-item-description::before,
.data-link-icon[data-link-id="wei-wei"]::before {
    content: var(--Character-Vivi-Icon);
    padding-right: var(--Link-Icon-Padding);
}

/* 科蕾特 Colette */
div[data-id="Colette"] div.setting-item-description::before,
.data-link-icon[data-link-id="ke-lei-te"]::before {
    content: var(--Character-Colette-Icon);
    padding-right: var(--Link-Icon-Padding);
}

/* 雷克斯 Rex */
div[data-id="Rex"] div.setting-item-description::before,
.data-link-icon[data-link-id="lei-ke-si"]::before {
    content: var(--Character-Rex-Icon);
    padding-right: var(--Link-Icon-Padding);
}

/* 孟亨 Munk */
div[data-id="Munk"] div.setting-item-description::before,
.data-link-icon[data-link-id="meng-heng"]::before {
    content: var(--Character-Munk-Icon);
    padding-right: var(--Link-Icon-Padding);
}

/* 宝菈 Paula */
div[data-id="Paula"] div.setting-item-description::before,
.data-link-icon[data-link-id="bao-la"]::before {
    content: var(--Character-Paula-Icon);
    padding-right: var(--Link-Icon-Padding);
}

/* 贝琪 Becky */
div[data-id="Becky"] div.setting-item-description::before,
.data-link-icon[data-link-id="bei-qi"]::before {
    content: var(--Character-Becky-Icon);
    padding-right: var(--Link-Icon-Padding);
}

/* 萝茜努 Rosine */
div[data-id="Rosine"] div.setting-item-description::before,
.data-link-icon[data-link-id="luo-xi-nu"]::before {
    content: var(--Character-Rosine-Icon);
    padding-right: var(--Link-Icon-Padding);
}

/* End 1 年 III IV V 班 */

/* Begin 2 年 I II 班 */
/* 安洁莉卡 Angelica */
div[data-id="Angelica"] div.setting-item-description::before,
.data-link-icon[data-link-id="an-jie-li-ka"]::before {
    content: var(--Character-Angelica-Icon);
    padding-right: var(--Link-Icon-Padding);
}

/* 文森 Vincent */
div[data-id="Vincent"] div.setting-item-description::before,
.data-link-icon[data-link-id="wen-sen"]::before {
    content: var(--Character-Vincent-Icon);
    padding-right: var(--Link-Icon-Padding);
}

/* 弗列妲 Friedel */
div[data-id="Friedel"] div.setting-item-description::before,
.data-link-icon[data-link-id="fu-lie-da"]::before {
    content: var(--Character-Friedel-Icon);
    padding-right: var(--Link-Icon-Padding);
}

/* 兰伯特 Lambert */
div[data-id="Lambert"] div.setting-item-description::before,
.data-link-icon[data-link-id="lan-bo-te"]::before {
    content: var(--Character-Lambert-Icon);
    padding-right: var(--Link-Icon-Padding);
}

/* 裴德烈 Fidelio */
div[data-id="Fidelio"] div.setting-item-description::before,
.data-link-icon[data-link-id="pei-de-lie"]::before {
    content: var(--Character-Fidelio-Icon);
    padding-right: var(--Link-Icon-Padding);
}

/* 泰蕾莎 Theresia */
div[data-id="Theresia"] div.setting-item-description::before,
.data-link-icon[data-link-id="tai-lei-sha"]::before {
    content: var(--Character-Theresia-Icon);
    padding-right: var(--Link-Icon-Padding);
}

/* 艾德尔 Edel */
div[data-id="Edel"] div.setting-item-description::before,
.data-link-icon[data-link-id="ai-de-er"]::before {
    content: var(--Character-Edel-Icon);
    padding-right: var(--Link-Icon-Padding);
}

/* End 2 年 I II 班 */

/* Begin 2 年 III IV V 班 */
/* 乔治 George */
div[data-id="George"] div.setting-item-description::before,
.data-link-icon[data-link-id="qiao-zhi"]::before {
    content: var(--Character-George-Icon);
    padding-right: var(--Link-Icon-Padding);
}

/* 托娃 Towa */
div[data-id="Towa"] div.setting-item-description::before,
.data-link-icon[data-link-id="tuo-wa"]::before {
    content: var(--Character-Towa-Icon);
    padding-right: var(--Link-Icon-Padding);
}

/* 史提芬 Stefan */
div[data-id="Stefan"] div.setting-item-description::before,
.data-link-icon[data-link-id="shi-ti-fen"]::before {
    content: var(--Character-Stefan-Icon);
    padding-right: var(--Link-Icon-Padding);
}

/* 克莱菈 Clara */
div[data-id="Clara"] div.setting-item-description::before,
.data-link-icon[data-link-id="ke-lai-la"]::before {
    content: var(--Character-Clara-Icon);
    padding-right: var(--Link-Icon-Padding);
}

/* 海贝尔 Hibelle */
div[data-id="Hibelle"] div.setting-item-description::before,
.data-link-icon[data-link-id="hai-bei-er"]::before {
    content: var(--Character-Hibelle-Icon);
    padding-right: var(--Link-Icon-Padding);
}

/* 罗金斯 Loggins */
div[data-id="Loggins"] div.setting-item-description::before,
.data-link-icon[data-link-id="luo-jin-si"]::before {
    content: var(--Character-Loggins-Icon);
    padding-right: var(--Link-Icon-Padding);
}

/* 爱蜜莉 Emily */
div[data-id="Emily"] div.setting-item-description::before,
.data-link-icon[data-link-id="ai-mi-li"]::before {
    content: var(--Character-Emily-Icon);
    padding-right: var(--Link-Icon-Padding);
}

/* 克连 Klein */
div[data-id="Klein"] div.setting-item-description::before,
.data-link-icon[data-link-id="ke-lian"]::before {
    content: var(--Character-Klein-Icon);
    padding-right: var(--Link-Icon-Padding);
}

/* 尼可拉斯 Nicholas */
div[data-id="Nicholas"] div.setting-item-description::before,
.data-link-icon[data-link-id="ni-ke-la-si"]::before {
    content: var(--Character-Nicholas-Icon);
    padding-right: var(--Link-Icon-Padding);
}

/* 桃乐丝 Dorothee */
div[data-id="Dorothee"] div.setting-item-description::before,
.data-link-icon[data-link-id="tao-le-si"]::before {
    content: var(--Character-Dorothee-Icon);
    padding-right: var(--Link-Icon-Padding);
}

/* End 2 年 III IV V 班 */

/* Begin 教官 */
/* 莎拉 Sara */
div[data-id="Sara"] div.setting-item-description::before,
.data-link-icon[data-link-id="sha-la"]::before {
    content: var(--Character-Sara-Icon);
    padding-right: var(--Link-Icon-Padding);
}

/* 梵戴克 Vandyck */
div[data-id="Vandyck"] div.setting-item-description::before,
.data-link-icon[data-link-id="fan-dai-ke"]::before {
    content: var(--Character-Vandyck-Icon);
    padding-right: var(--Link-Icon-Padding);
}

/* 奈特哈尔 Neithardt */
div[data-id="Neithardt"] div.setting-item-description::before,
.data-link-icon[data-link-id="nai-te-ha-er"]::before {
    content: var(--Character-Neithardt-Icon);
    padding-right: var(--Link-Icon-Padding);
}

/* 亨利 Heinrich */
div[data-id="Heinrich"] div.setting-item-description::before,
.data-link-icon[data-link-id="heng-li"]::before {
    content: var(--Character-Heinrich-Icon);
    padding-right: var(--Link-Icon-Padding);
}

/* 汤玛斯 Thomas */
div[data-id="Thomas"] div.setting-item-description::before,
.data-link-icon[data-link-id="tang-ma-si"]::before {
    content: var(--Character-Thomas-Icon);
    padding-right: var(--Link-Icon-Padding);
}

/* 马卡洛夫 Makarov */
div[data-id="Makarov"] div.setting-item-description::before,
.data-link-icon[data-link-id="ma-ka-luo-fu"]::before {
    content: var(--Character-Makarov-Icon);
    padding-right: var(--Link-Icon-Padding);
}

/* 碧翠丝 Beatrix */
div[data-id="Beatrix"] div.setting-item-description::before,
.data-link-icon[data-link-id="bi-cui-si"]::before {
    content: var(--Character-Beatrix-Icon);
    padding-right: var(--Link-Icon-Padding);
}

/* 玛莉 Mary */
div[data-id="Mary"] div.setting-item-description::before,
.data-link-icon[data-link-id="ma-li"]::before {
    content: var(--Character-Mary-Icon);
    padding-right: var(--Link-Icon-Padding);
}

/* 瑟雷斯坦 Celestin */
div[data-id="Celestin"] div.setting-item-description::before,
.data-link-icon[data-link-id="se-lei-si-tan"]::before {
    content: var(--Character-Celestin-Icon);
    padding-right: var(--Link-Icon-Padding);
}

/* 莎莉法 Sariffa */
div[data-id="Sariffa"] div.setting-item-description::before,
.data-link-icon[data-link-id="sha-li-fa"]::before {
    content: var(--Character-Sariffa-Icon);
    padding-right: var(--Link-Icon-Padding);
}

/* 萝德 Lotte */
div[data-id="Lotte"] div.setting-item-description::before,
.data-link-icon[data-link-id="luo-de"]::before {
    content: var(--Character-Lotte-Icon);
    padding-right: var(--Link-Icon-Padding);
}

/* 雪伦 Sharon */
div[data-id="Sharon"] div.setting-item-description::before,
.data-link-icon[data-link-id="xue-lun"]::before {
    content: var(--Character-Sharon-Icon);
    padding-right: var(--Link-Icon-Padding);
}

/* End 教官 */