:root {
    /* Begin Debuff */
    --Status-Poison-Icon: url("data:image/webp;base64,UklGRuABAABXRUJQVlA4WAoAAAAQAAAADgAADgAAQUxQSB8AAAABUNJIEqP88xaa287u2eOImADKRZNz8dwf16EkBg0HAFZQOCCaAQAAMAsAnQEqDwAPAAAAACWwAnS6AfgBRgPxu3ADbJd0A4ADypPYM/Zb9gPZJoCXJY/FPwr/IDSd/ibiwG6AexzqJf6B+R3QC+Kf6r+Un0Afx3+ef3L8k+Md/SA7U+qVsLNnEgAA/v/+LxtcHn/J2r7n3STvRL9GVNGk13f/NlS+7Wyskf7sJN7XZDN89+ESe/ae3ef/3YD2v6OBu165vdrM6d52G9/7v/taH70jBLbrmO8l+vtVT4ZZPiaeQin5AT5wXwU7hl7SzTvb0K4PP9hjjvEtL5eAG5BvEkZpWeyxtSrsD8r2A6t/PvHGBjrwCjQnOjvTD8XojNnuJLtf12++3vPazTvJ/hzXhq/C3wNk/OFR7nlX/9c8pvbqOYjB/RpBoREg/AzQUSjWdynb/u26jMTZB7/gU8n//ge8sD7OZ543oEcuzGa/DCnzy/fKHPyn3J2R/Jt8+iZMNOR89qSocTHfM1gKMcp//U+H13vA4W28rl/+QtcjydezUps5hf2IuCI3RB/8PApyK/6Gs8ty/5dT/5q11MOAAAA=");
    --Status-Burn-Icon: url("data:image/webp;base64,UklGRvQBAABXRUJQVlA4WAoAAAAQAAAADgAADgAAQUxQSB8AAAABUNJIEqP88xaa287u2eOImADKRZNz8dwf16EkBg0HAFZQOCCuAQAAEAwAnQEqDwAPAAAAACWwAnS6AfgBPIG6AbIBvlfAAfrN1j/6of4z/AeyXcgOQC9HclZ8T/Cj8jNJR+DH7Af5nIVdUA/qH4ja4D+zfir6oHfAfjN9AH8O/i39U/HzjFv0vO1PJb9mPFAAAP7//x7/YiAO/4G3IyHfvDerlnBAuP2z8/zxzxU3yYcpJ7/pJ8k3DnnH0BEjBv+6A+15nXrLz7Nz+I/1PeV7fPv9x2U3mVoDwK0Fs06YDoL2woaTKuiNr+SuiT3aAAQ/5ahJptuRX+MOKmORvyNxNKM//2tBynjbhtuT5jL8lle9IMK6f0x2ZMbD/377Wqh6Lp0n7HU97a7bfsxCl2se/8+f9qF59Cb79E9NX5uTMqib982r+YzdzLIEn+v0+9+6M/3C9OpB79EJUjsQH5nJ/+haBz/YCWqhGdyVt5LZFy1ckjGOi039Rbf/+9M7/B/Nmhduv+1SPW/FHcUYp5395X+aW6/DaF92aiVbL/+7u+o98DM//LW9B9Gj+//y43/XTUGGlx/M0t/er37dqI8kWEHf5oLFt+hbSyn/5QGPbsH0BcsAAA==");
    --Status-Death-Icon: url("data:image/webp;base64,UklGRvYBAABXRUJQVlA4WAoAAAAQAAAADgAADgAAQUxQSCUAAAABUBJJkmP8goZ/t5fR37LHETEB5L0sU599NNC/UFAAfr36XX4AAFZQOCCqAQAAsAsAnQEqDwAPAAAAACWwAnS6AfgBSgP6B9wD3AOkN/W70a6MB+AH6k5bH4p+Ff6m6Lf8L/1VywH9V/DP8gNc3/EbXUfy/8OfVm8AD+u/iT9AH8R/iH9T/FXjKP0vPdrPrSFeA37AAP7//s1W9wTWsXT5JMeQ12PBnEXKERPeh3veNVa8SHx9XmmE2//oF1C79C/NhyIhcPN9Jc00LvMO2qCt7bDG6Y/yZQOGmVNfr8qVl1cDgZkKp8DH6po6gbyYMP0jJjbipiE+iJvRPqcSDQr2jbQif/+p8x3nxCJomLmAqquP19c39WAH7t9sukBmfwDjSTUZI/nijLa/zEYP3n+hE+00ypEtDkg9q0T/+3hLIX/zI8F0xLe4Z+BwnC5v4HoV/0KjLV1/k7S//7fM3bAgEf6UYoqK9jCbvzZsApyP3Wzm/Zo/wB+EqzgbTXlTpINsJwu+UFaT/5OB/K0UND8pEjX9+Pn/z6bSFcLLxAd+rdlH+uaPNJ4s//dpmPDvz/1up8+8ez7kFXSUdodG5fui62J/uA/VzXnt/xeYP4/9FYCNFm+xgAAA");
    --Status-Seal-Icon: url("data:image/webp;base64,UklGRvYBAABXRUJQVlA4WAoAAAAQAAAADgAADgAAQUxQSB8AAAABUNJIEmP88xqq28ru2eOImADKRZNz8dwf16ElB80AAFZQOCCwAQAAMAsAnQEqDwAPAAAAACWwAnS6AfgAlgD9VesJ/Zn9bvZmo0GOB/E/wU/Wv+gaSX8QP1VywH8z/JXVAP5v+DGuA/iP5JcoB+AH0BfwL+FfzL8YP6ZyCf6dolulJvOlgxbqHwAA/v/8f/MXsOR1gWMfaO/ULY7+0fV+Oq6Cdk6JInotPkLP897lf2bHKupWj/koZIiiHg/Ez3//neMh5txe2tnJJnEBC8bB5g/7cf7oyo8ThuyN98reM+L0ln8t0mQYTNxSHmGtGY8ejRzUsRQHd/xGfqVpcGDMQGk+akc0vAOv2WP/76YWryN48575nxT2qQVJz/nM+vtX//7HOZpBMWhE7uioz3//y1+/EvRzPal+JI7ri1PSb97kNL9RrF9tMrSxNFMGXSQaHpGmw/Znkt+p2CQ//8Zkn7s/5hYV7VszS9hqfKBBCdDsMtT+BRmDu/6Br/7Sn/jdfenf//tMGvf6Xo9JmwcakPq6A/2w/tN2/JDbjV+jWCVL+ggjDn4hyjDT68v+eDvwv9SQ7ZHjqf/8mKgpyu6Ij5yMyNL1rgYV0C3/g7hf9a9yTsAGpQAA");
    --Status-Freeze-Icon: url("data:image/webp;base64,UklGRgACAABXRUJQVlA4WAoAAAAQAAAADgAADgAAQUxQSCYAAAABUNu2jTT54VZ4l7Wdp0u6qyNiAgajysmsKxrxK2rYQrjLIyQ5H1ZQOCC0AQAAsAwAnQEqDwAPAAAAACWIAnRyJfyA3QD+gbYB+s3UAfwD1AOAA8nL9Zvgp/VX0a6MB+AGSx+Ufhf+R2ko/EbJAfzf8GPyZ1xb8dNcB/a/xJ9WbyBejvuAfw3+Lf0r8ff3l5QD9Fjzw2BE3V050AAA/vvUjuxD2a25LwK57oEr77RwR6/+UB3E/vF3Jg1dec8hZwG937jNmMESLiSsfTzB4rR79i7BYQEyf/50H1wnAlDcXUiv/dxH3//Y2DL6DBtwex/81vkHB34L6X8eXasCEoPWnD6DiH5Ld/qfujaXR/xO+g/NEdJyj11f5VcZTDvbDypGsos9M1W2Oa7c1fesr7//hUs1FJQ2grdSVu61HhY/VxqtYud1h5cPjdhcNhfObP/XzZ0+//TYg4GoJP6swqHYUEDeab47vEjv//ofD7WfCFTn+b46l/qqEue2uAh8SFf+8/Y5igPHr4USjLUkM//1EXkS08x02D+eu8reST84vfl/iM/e7nsMJ2pUxjRO2tKZ5rkTCl57bda27BEY42vGCw5vlsascBeSgwu5im0mECY3TqHuFjb6X0pprCw+wZwAAA==");
    --Status-Nightmare-Icon: url("data:image/webp;base64,UklGRtwBAABXRUJQVlA4WAoAAAAQAAAADgAADgAAQUxQSCIAAAABUBvJSlU5QwugNss/e2TGETEB5I06++DRi/6VWKRYg+UPVlA4IJQBAAAwCgCdASoPAA8AAAAAJbACdLoA+AC5M+AA6Q/9kvSjeIJ4p+Kv7AaJb8L8hA/FXUQPxy1wH9J/GboBfIH9V/Gb6AP4b/Kf6Z+Mf7z8pn+gB9tFpavYuPHPgUAA/v5RXB+zMH+dDP/+7YEGwNme5fbS/9v3B/7NoQkboBIwOX3n2U+99mw6hi1SXNb5I6/ks13Se//mjzEml7smk0Ur/73JCCSqNzGH5mvyVr1vrbf/59PhAdl073ZEc2/3ssQPtzenFL1e1gNEUKbss3uteQoQITW82qD4MoIr7zmWfj/GDRqNrI16eaxk2//yGtl1Dlfb+X8+zL1Lqhk9x4YVCwp1/X/8qTw/YW43+LvRp7waw//7A6C2twxZJOKCQnNvIMfPq6fxFkf7rNK2P71A66i6vnzZKRfZCEXCsP3CsZYtGQc1n/b/Nk6pZ3W5DP9D/592ebooHiKY1fn4X/n0wD2sZi/8//d/n14DOdsIJ3/+lgUNC/DlLsv/piV2Bc3BD/22c99W426uP/50b/86P9SnlIAAAA==");
    --Status-Mute-Icon: url("data:image/webp;base64,UklGRgoCAABXRUJQVlA4WAoAAAAQAAAADgAADgAAQUxQSCAAAAABUNJIEqP88xqa2s7u2eOImACOQYNy8ZjDfKUO6TFoCVZQOCDEAQAAkA0AnQEqDwAPAAAAACWwAnS6AfgB+gDZSb4A8k39gPgA/Yf9YPZMuQHIBenOSCeQfiT+zP9m1AH9Q/Eb9YP8Blin5AfqrrgH8l/IDXZ/0D8cvUA8gXxB/N/xG+gD+Jfxj+h/jR/M/kA6k39JTamNRTpvus7QAP7//uYfucP66uqncsVJkRPIuWdPhLvfpxesNDJUVkfesLzfcKfN8OegsxMDz/kVuKXmzDtXa+m+5y3+iPPs9QQ/cX3PPumlDbvJTT1m2TAky5gtaMCepx7Z5o8rjH4enrgjtn/c0GmurHpn8GThGP4HMnbAP+Ni3mdN6+5wDJLMXTtgm5Ht/4vkI3YaG/tkJfrvtWBJLxc7E6xQgwhgfezUceXHGLqR1bVxEYCF2e92YXDteSmw0odT+XpVMTzoAedl/3Xl2ikmRD52KYAeXVG3yRCWJfC0Ng/S9dVzKKTBMqdQ//qTykluINJ8eZ7lDzePePsl1r/xdN5bLsXVeQ72Qw9APCX4e/9A9dX0f0wQnivD6///r4XUYeI/5r2r4rM8t1U/7r+8fIId/nWeestz4jZ/y5+8c/34DJDnIbrN//lAK+lkgGw2GCwAAAA=");
    --Status-Petrify-Icon: url("data:image/webp;base64,UklGRt4BAABXRUJQVlA4WAoAAAAQAAAADgAADgAAQUxQSCUAAAABUNu2jTT54VZ4l82ndEl3dURMwFCqOjXrRoNfsYYvASDMPEMfAFZQOCCSAQAAsAsAnQEqDwAPAAAAACWIAnS6AfgAlgD9APSq9iXydrkByMR5r8A/Df9Xf8ZqAP5n+C37Gf13LAPyj1QD+zfkdrov7H+QHQ++QP7N+OX0AfxT+Pf2D8lv7HyAH6QHj19uDnPvtOZAAP7//pl/nS/XjMfMT4wv8RjmOVvwr///xOExWDf1K4Tiri3/4leiBRdJyCXVou8fj//JtZ8Q/23ITbk34g72v9//82ZS61m6p1159jLq8z9TkQp6pWhdJ0GieiL/7ygesYU//xLDleENfPHy//7+LYjeePN/5erllTa6+0BWxISM7+cjKWlVWg1Zeb/PKabl8WwypVQTahvFI+Ma0XrD6zDx3XexEW5dX/8lwRPBJ9xMg7mtPWoxZ4Zcev0KNqSSr21SkGqWqrvNU/p/7IenNETdkdvuC7FGkL//9oGoM9xKQ39e/pan/qjtaLT9G+9vf5zv5lycXZXlj+o5HO/30Q87yJ9a4wlO//5nsGhoVt6HNt+9VxubWAMf4gPiGxmUB9QPXTX96aaTWgAA");
    --Status-Delay-Icon: url("data:image/webp;base64,UklGRvoBAABXRUJQVlA4WAoAAAAQAAAADgAADgAAQUxQSCUAAAABUNu2jTR5cCu8y+bTdUl3dURMgBhVG/bqToNf8UZMBQj3hLQLAFZQOCCuAQAAkAwAnQEqDwAPAAAAACWwAnRfAGygX4B5QHsI/tl+t3tM3ID6AOlZPAvkH4J/sV/T9QB/IvwU/ZX/AZhH+S/irqgH8z/IDXYfxT8VfYCxAP47+MH0B/w/+Gf0f8bv6XyJ/6cn2PnlRWWx9mKbIAD+/x/Ra/zOcHSsiGi982C8qooLlXJM9vkpmKuEt0+SepDqzYCwGFk8BWSm6//7dWCmT7/Y8dZpW0sBWIBXQH/qcKTXvv+4417onyEkg5Ay4kIJN/hEvZPnsS6fxZnfwOrs/8an8z4wtEj9KX9HDU82D1AxUdtZOvZRWnj6t+4AJSF/9MHt7+8/9nvlDzHnHzT7F8cYhwN+hj7Fwg1BRYqAYfSAmgsqGygRUzrt6uaGSJsyw/x5DsvurQebY5ioHH5GTDnNOxEWLoV4Tbn3e779FjlzyFZwE0qb9u8zkS/lvilfXUSlEhWtPzFoy3smT+h/+vf115O9knWhhe4v//UXQ3rN5yxvg2/IX/k2+uSbgR4AFy3t/u+6oGMet/6ucMGv/MIFeVdf/+erP9Ae4pklP0/Sv/jF6rY6/eI7/7SgAA==");
    --Status-Blind-Icon: url("data:image/webp;base64,UklGRsQBAABXRUJQVlA4WAoAAAAQAAAADgAADgAAQUxQSCAAAAABUNJIEqP88xqa2s7u2eOImACOQYNy8ZjDfKUO6TFoCVZQOCB+AQAAEAwAnQEqDwAPAAAAACWIAnS6AUQD+gbQB/QNsA3QDgAP0g6xzyY6M7+EH6k5YJ4n+J/65f47SUfgB+0f+jyxr8jtQa/FXXMf038bv4BzQHuB/wb+Kf0H8fP6r/8OUd/QA7U8uTfr/O4YAP7//xuK1I9+B729AWQUkZCbrxYmRHHn/936TutfLM4tQ/Tez3/mwZH1//oWxVyAeTBLxyUSj/lcZsT0j2BeAoBNiAJ4NvGOW60MZPuUW2mAw9CVh4//7ZdHzBlcUaN//kk6E/F3zEYorWmfRnbYKxewyWR95IfNwk8pv1E5VgdXsZKf/2ngXO75eGXX+f4i3OuOIoJ2SKXhy6P78gfSHEQNazP/49rnbvnlHb1G6o2RloFQKbBeoU2A12st4+6ptcOv/7rZGn//dv/5mX79NIRf9p8bg+H/2bChaSv84745z0WNbO0eD++Puseckq6ygVBZ436EWserrfXnZ4o/4cP8fzVp3xcc19oL3OX1P6V9cLAAAA==");
    --Status-Faint-Icon: url("data:image/webp;base64,UklGRgICAABXRUJQVlA4WAoAAAAQAAAADgAADgAAQUxQSB8AAAABUNJIEqP88xaa287u2eOImADKRZNz8dwf16EkBg0HAFZQOCC8AQAAkAwAnQEqDwAPAAAAACWwAnS6AfgB+oC3AOAA/WbrAP2I9FKjAfir+leWs+AfhL+i3+A1AH8z/FX9gMsB/FPxV/UDWO/wz1wH9u/CD1ZvwA6gL+D/xP+cfjN/a/+99AHUNfqqei+y2rXm304kAAD+//8ekiuq2RvIctDHbx+Zx8//54Ye1nhgxrQI9vEQad8usw3p3PUn+hnVhL64wQ/9f9R6YGafabuj0vL6wqqDf/wPZqkgXwDdirPR/HjzgAozvebeISNJ6Pwcxa9qR+Cx0RQOZ6P/+amMPTzouYBwBXsxgrz1xjUwCv+tx//tyWMsrNlB4/MQD5zm3jRg1ccMW4Z9rqOaoneM+Vew+mqxfYxBYBPnSrxqOA94pCQpP//9T4/JPOb8jHbzO2Gbcvr8d+yXUB8xUpGQE8Y7Vh4pGp+XCWFKRf//81EFkhj2G/59b3aS/h/HwpKdf/7rZrd//7Xweb1n4xYKmf+kPzIMfj/6T39KQIz+M5HUW3/17/yr/7a/1J9JIARPRLD/Z0Kf3U9SAdSbyGf/qI5nsp+ocndK4F/Iwf9dotXeuLdKrj+WJed978qX0ce3GCgA");
    --Status-Vanish-Icon: url("data:image/webp;base64,UklGRtQBAABXRUJQVlA4WAoAAAAQAAAADgAADgAAQUxQSB8AAAABUBvJBlW5UYPR7Xs+2ZOJI2ICnKvSuDr3x3WoxKgVAFZQOCCOAQAAcAsAnQEqDwAPAAAAACWgAnS6AfgBSgLMr3QDgAOkn/beuAcgF6Qfrdlgnkv4V/kBpJfxV/IDMAfzf8XdUA/kv4165P+d/jN6gHOB/wf+D/z38Yv67/1OUU/UBEAXEa2c6QXEwAD+//8bv2I7uAHA6L2vZ+xxGGtYrl/9t/yMPnxBHNM7n0nYh3+G0El7hfO92NK9w3tqob4AHj/t7/97u9hbu7FHPieGOf9RfrSroCcKD6NtfzXxIN8f/t3bWwvSPWZkWykobw+Byp87tMQqaGivowA9RUfMHf//kkqi2A6CLbho8Lw7N/nF1gP7Um5JMSJofWLfGoV4V3f2WTB6onL4a4Zpg3ntWAPDk7fnnvLdKYx/BNgp/5ux0zsviKHhsQ4//94iafw/p5E+6H5EIW/XMLws4MdjH8CKFfhLS2/94L//+60Y///3dA170d/UI/rQ8+jnKeW3imV9HeTtlqKP+Hf8WlfJ3h0LXU0gLN/I+jwjCtKnPQg9gkbhd/F+9gg/mB6vH/WgkIgwAAA=");
    --Status-Sleep-Icon: url("data:image/webp;base64,UklGRvQBAABXRUJQVlA4WAoAAAAQAAAADgAADgAAQUxQSCAAAAABUNJIEqP88xqa2s7u2eOImACOQYNy8ZjDfKUO6TFoCVZQOCCuAQAAMA0AnQEqDwAPAAAAACUATpdAKIB/APtV3gDaAP0r3wDgAP0A6yLyULkB+AH6q9LF2Z5YJ4j+Ev61/1XSAfgp+oH+VzAH8o/Eb8gNco/HTXMf2b8VfUA7278QPoA/hn8P/o34vf1XkAP0YPsfIZAQ0KQAAP7/f3ih+J/NlUFmOh8MS8L327Gt8/+bQabC995dmyn/kDsudlURpeI1YSiwd6hUY+cmJJA8dPCAyjyny+s4umb/v0OSE1mcRGM/scd97o/ILFriiu+wS5yWKJrTEEHLqKqHgLCr/zWefOrkiW2J/TjJ41374I65F//gC2in2kFo59A1SkouQgmjsgDRsPQeslP/8xuw4pB+q8c7pnw3Wn9Z5z+yydBrrztPp2uw/9+Xuh2YRlrev+2pgcNT8LX/d3GVj7t0lC/1J+SsjOdvUhIVH0J8ZhjoELtoZKM3WArsdku3qO4mj17g9PyLK+Qwn/FZy1/oeZnRgAIxBeTmR/47fZ3GDv+maF+nmLk2/g1qkS0bFv4DCX+w0FZf96HQ04+7V96P80dRPbNFaVhA+mpzsq0nu+e7LI0AAA==");
    --Status-Confuse-Icon: url("data:image/webp;base64,UklGRtIBAABXRUJQVlA4WAoAAAAQAAAADgAADgAAQUxQSCUAAAABUBJJkmP8goZ/t5fR37LHETEB5L0sU599NNC/UFAAfr36XX4AAFZQOCCGAQAAMAoAnQEqDwAPAAAAACWwAnS6AfgB+ICYAOkT+zP2gJ4AywTxD8ZvyO0kv4gfsdlgP5v+LuoUflHrt/67+JPKO+4L/C/4r/RPxk/qv/U5R39IDuBbiqsh/BHcAP7//rhzQn1fziE5kwgZVeEYpGz5MTKG2hHGtI/Ed/T/62wuDH4WqPmgtwOV//oUHmjTr5OH4hMsvsco/sm1eEThY9N3EpvMRilZwi5P6NSYIK7Ttji6XNB1WEl9Xw2fvlKlWdmQ9QNg/xte5Lpr5//vG0q3e1gyJW/teFsCbA/n8uloSqhUk2po2wG7/3s7Y/Zd2sZ/ja5i8bD1dPYwoZ+SG/+9RKB3dpT7prjbXCOpUOFe4wKvp/9Bfj1CizNGj9M8bSonGh+v/Kqj1360Cy3v8an0zS0SdDfCxIG+LQX+4bJdVlZZqf/vjY/EObmWa1a/5WESpLc87alzTT7mXG/7gN1MquHf+/wbX7USJu3/7h6N7ouNC8HZdvF9k36vm0Ud6P3rgbQ81gAA");
    --Status-SDown-Icon: url("data:image/webp;base64,UklGRuoBAABXRUJQVlA4WAoAAAAQAAAADgAADgAAQUxQSCAAAAABUNJIEqP88xqa2s7u2eOImACOQYNy8ZjDfKUO6TFoCVZQOCCkAQAAEAwAnQEqDwAPAAAAACWwAnS6AUQD+AfkB/QN4A/gG2AfpLvoHAAdJd+1/7AezNcgK5D+RfgB+O2kT/BT8gMwB/Ivx21Cj8L9cp/K/wz5gD/Ae4H/A/4f/Z/xc/ePlJf1APRyueLX06fsAP7//nDZ0V0qolnBnTgc4THti5/7yh9yfQX5iQtt2Et9F/wD/mvTOceHTEQjsCbX8PWPIvfLY5zFy6IPkifXRmf80XqtyhRL/68VylvnLr4/o/KK///bpGJM43agAHbnNSFxv4qp6XNVBsHWnf5Oe9wKK4asyvi+9jTu57yvkM3SspCSseKRqMPn/+7dPH3M8/H+ql+Z3XimLbs3bfuwpeChAahUFYu+3H+o8pdqA+UMiphLH/8e5MvOr0jKIcnrKI+Z/ues2iRPWrzj36yRrsMxL2f817S8f+ht4hvqdgBR8M7vv/dasJ//56/XV4fyd1yYWVWASDmqvxCckO7otFvyRguHWyZcLoEzCYf/SyFbpRZv/03wqYVZ/9okg17X1oSL/Mr99z+ySEPBYqT1dhMIRxdYB/gQAAAA");
    /* End Debuff */
    /* Begin Unbalance Rate */
    --Unbalance-Rate-Start-Icon: url("data:image/webp;base64,UklGRsQBAABXRUJQVlA4WAoAAAAQAAAACgAADgAAQUxQSIsAAAANgGzbtulo39i2rVZ6Tr46I730bNtl2w/lql+IiAnA/wnef+HwwDLvAAhH5pW2HwEQIvVHL+vXFDgCndX8NAgebcBxxFQTSpMdVsCxJNh3lsorReAwU7f4pMFIORAKNQeSl+t3DoEgUiwJow9igLzOc1q+wcMD8FgQiQ63Yg7wzjB4p94Ivr8DwDsAAFZQOCASAQAA0AcAnQEqCwAPAAAAACWUAnQwRTybrkB9AFmB/TZk5/G78ANcg/G7XO/4DyQPIF8J/3b1IP61+N/758pL+lZ9s6KIRBgMsaAA/v//J7V5XRfuj7MmsmpRjamiOP/iPFqK0p8qL7jTCfnr7IDWURbhvv5JFhg0Pt/7Hp6taJ59vTx7dhIz5d/+2fK/8w/9zjk+It/zj/GTJ1llvw/71WCqv9yo/O78atdVJ2/qAc84ebQ3MKaPnXCROJyD/hfv+BwJLrcf+JLFhajicoP+Lo5dBqaPyf60h9bmvq8ox2B0URQET6VU/ZM4cBP2N/v9CxIYKP0vI/J/53sY9//S62g/+Zlq5oAN28yjFp4efv0TBsAAAA==");
    --Unbalance-Rate-Empty-Start-Icon: url("data:image/webp;base64,UklGRn4BAABXRUJQVlA4WAoAAAAQAAAACgAADgAAQUxQSIsAAAANgGzbtulo39i2rVZ6Tr46I730bNtl2w/lql+IiAnA/wnef+HwwDLvAAhH5pW2HwEQIvVHL+vXFDgCndX8NAgebcBxxFQTSpMdVsCxJNh3lsorReAwU7f4pMFIORAKNQeSl+t3DoEgUiwJow9igLzOc1q+wcMD8FgQiQ63Yg7wzjB4p94Ivr8DwDsAAFZQOCDMAAAAcAQAnQEqCwAPAAAAACWkAnQdoA8oDlm+uXuAfpB/l+AA/TMy/1EtNZ1NyAAA/v//mmuo2UW7J/mHAn/1lHtPCfHNj/yiH1cJML/dV4NaDBLWGLD1mccWhHZ/6ZDIwKfaueg7X5Hp/v22OifqVpIj3/7EHHn5cn67VLu9qMQUP1iXvvy556ag/T+T0m2OWafwzdtck/f/spj6j7ks+b8Jge5fm9pZyQ7E2eo0vLfc8Wui5mp+uICc1Zv2aa6VmEUwBtDZvF5HLikfGgAA");
    /* End Unbalance Rate */
}

.status-poison {
    content: var(--Status-Poison-Icon);
}

.status-burn {
    content: var(--Status-Burn-Icon);
}

.status-death {
    content: var(--Status-Death-Icon);
}

.status-seal {
    content: var(--Status-Seal-Icon);
}

.status-freeze {
    content: var(--Status-Freeze-Icon);
}

.status-nightmare {
    content: var(--Status-Nightmare-Icon);
}

.status-mute {
    content: var(--Status-Mute-Icon);
}

.status-petrify {
    content: var(--Status-Petrify-Icon);
}

.status-delay {
    content: var(--Status-Delay-Icon);
}

.status-blind {
    content: var(--Status-Blind-Icon);
}

.status-faint {
    content: var(--Status-Faint-Icon);
}

.status-vanish {
    content: var(--Status-Vanish-Icon);
}

.status-sleep {
    content: var(--Status-Sleep-Icon);
}

.status-confuse {
    content: var(--Status-Confuse-Icon);
}

.status-s-down {
    content: var(--Status-SDown-Icon);
}

.icon-unballance-start {
    content: var(--Unbalance-Rate-Start-Icon);
}

.icon-unballance-empty-start {
    content: var(--Unbalance-Rate-Empty-Start-Icon);
}

.unbalance-rate-table tbody tr td {
    text-align: center;
}

.status-rate-table {
    width: 100%;
}

.unbalance-rate-table {
    width: 100%;
}

.item-loot-table {
    width: 100%;
}

.sepith-loot-table {
    width: 100%;
}

.art-rate-table {
    width: 100%;
}

.description-table {
    width: 100%;
}